
.city-info
  - url ||= manager_cities_path
  = form_for @city, :url => url do |f|
    .field
      = image_flag 'en'
      %label= t('cities.name')
      = f.text_field :name
    .field
      = image_flag 'en'
      %label= t('cities.name')
      = f.text_field :name_en
    .field
      = image_flag 'ru'
      %label= t('cities.name')
      = f.text_field :name_ru
    .field
      = image_flag 'pt'
      %label= t('cities.name')
      = f.text_field :name_pt
    .field
      %label CityName
      = f.text_field :cityname

    .field
      %label Feature?
      = f.check_box :is_feature

    .field
      %label Calendar
      = f.text_area :calendar_frame

    .row
      %label coords
      = f.text_field :x
      = f.text_field :y

    .actions
      = f.submit

.change-profile-pic
  %h2 Change profile pic

  - begin
    = image_tag @city.profile_photo.photo.url(:thumb)
  - rescue

  = form_for @photo, :url => change_profile_pic_manager_city_path do |f|
    = f.file_field :photo
    = f.submit
