
- url ||= manager_cities_path
= form_for @city, :url => url do |f|
  .field
    %label Name
    = f.text_field :name
  .field
    %label CityName
    = f.text_field :cityname
  .new-photo
    = f.file_field :profile_photo
  .field
    %label Feature?
    = f.check_box :is_feature

  .field
    %label Calendar
    = f.text_area :calendar_frame

  .row
    %label coords
    = f.text_field :x
    = f.text_field :y

  .actions
    = f.submit