
.btn-group
  %a{ 'data-toggle' => 'dropdown', :class => 'btn dropdown-toggle' }
    = "#{t('cities.list')} (#{@n_cities})"
    %span.caret
  %ul.dropdown-menu
    %li= link_to t('cities.list'), manager_cities_path
    %li= link_to t('cities.new'), new_manager_city_path
