

%h2
  = @city.name
  = link_to '[~]', edit_manager_city_path(@city)

- unless @city.profile_photo.blank?
  = image_tag @city.profile_photo.photo.url(:thumb)

%ul.menu
  %li
    = link_to 'change profile pic', change_profile_pic_manager_city_path(@city)

%h3 Reports
%ul
  - @city.reports.each do |report|
    %li
      = link_to '[~]', edit_manager_report_path(report)
      = report.name

%h3 Galleries
%ul
  - @city.galleries.each do |g|
    %li
      = link_to '[~]', edit_manager_gallery_path(g)
      - g.photos.each do |photo|
        = image_tag photo.photo.url(:mini)

%h3 Users



