

%h2
  = @city.name
  = link_to '[~]', edit_manager_city_path(@city)

- unless @city.profile_photo.blank?
  = image_tag @city.profile_photo.photo.url(:thumb)

%ul.menu
  %li
    = link_to 'change profile pic', change_profile_pic_manager_city_path(@city)

%ul
  - @city.reports.each do |report|
    %li
      = link_to '[~]', edit_admin_reportt_path(report)
      = report.name

/ Galleries

/ Users