
%h2
  = @city.name
  = link_to '[~]', edit_manager_city_path(@city)

- unless @city.profile_photo.blank?
  = image_tag @city.profile_photo.photo.url(:thumb)

%ul.menu-secondary
  %li= link_to 'New Feature', new_city_feature_path(@city.id)
  
%h3
  = t('reports.list')
  (#{@city.reports.length})
%ul
  - @city.reports.each do |report|
    %li
      = link_to '[~]', edit_manager_report_path(report)
      = report.name

%h3
  = t('galleries.list')
  (#{@city.galleries.length})
%ul
  - @city.galleries.each do |g|
    %li
      = link_to '[~]', edit_manager_gallery_path(g)
      - g.photos.each do |photo|
        = image_tag photo.photo.url(:mini)

%h3= t('users.list')
