
.navbar
  .navbar-inner
    .brand= link_to 'Pi', manager_root_path
    = render 'manager/reports/menu'
    = render 'manager/galleries/menu'
    = render 'manager/sites/menu'
    
    .pull-right= yield( :menu ) 

