
.manager-menu
  .manager-menu-inner
    .brand= link_to 'Pi', manager_root_path
    = render 'manager/cities/menu'
    = render 'manager/galleries/menu'
    = render 'manager/photos/menu'
    = render 'manager/reports/menu'

    -#%br
    -#.c
    -#.brand= link_to 'Pi', manager_root_path
    = render 'manager/sites/menu'
    = render 'manager/tags/menu'
    = render 'manager/users/menu'
    = render 'manager/venues/menu'
    = render 'manager/videos/menu'

    .pull-right= yield( :menu )
