

%script#left_menu-template{:type => "text/template"}
  %ul
    %li
      = link_to 'Map', "javascript:void(0);", :class => :map_link
    %li
      = link_to 'Calendar', "javascript:void(0);", :class => :calendar_link

%script#right_menu-template{:type => "text/template"}
  %ul
    %li
      = link_to t('list.stories'), "javascript:void(0);", :class => :reports_link
    %li
      = link_to t('list.galleries'), "javascript:void(0);", :class => :galleries_link
    %li
      = link_to t('list.places'), "javascript:void(0);", :class => :places_link
    %li.hide
      = link_to t('list.events'), "javascript:void(0);", :class => :events_link
    %li
      = link_to t('list.people'), "javascript:void(0);", :class => :users_link
    %li
      = link_to t('list.videos'), "javascript:void(0);", :class => :videos_link

%script#home-template{:type => "text/template"}
  %h2 Welcome to <%= name %>
  %ul.menu
    %li= link_to 'Upload Photo', new_photo_path
    %li= link_to 'Share a Story', new_report_path

  .home-ad

  %ul.newsitems
    - @newsitems.each do |n|
      %li
        = link_to(n.user.username, user_path(n.user.username)) unless n.user.blank?
        = n.descr unless n.descr.blank?
        = pretty_date n.created_at
        %br
        - unless n.photo.blank?
          = link_to image_tag( n.photo.photo.url(:thumb) ), n.photo.photo.url(:small), :rel => 'lightbox[newsitem]'
        - unless n.report.blank?
          %h3= link_to n.report.name, report_path(n.report)

%script#city_calendar-template{:type => "text/template"}
  .calendar
    <%= calendar_frame %>

%script#city_map-template{:type => "text/template"}
  .map-container#cities_show_canvas

