
-##
-## This is garbage
-##

- n = newsitem

.item
  = t('g.by')
  = newsitem.username
  - unless n.report.blank?
    = t('reports.one')
    = link_to n.report.name, report_path(n.report.name_seo)
  - unless n.gallery.blank?
    = t('galleries.one')
    = link_to n.gallery.name, gallery_path(n.gallery.galleryname)
