
- n ||= newsitem

- if !n.photo.blank?
  .Nphoto.hide
    %h3
      - if n.username.blank?
        = t('users.anonymous')
      - else
        = link_to n.username, user_path(n.username)
      = n.descr unless n.descr.blank?
      = pretty_date n.created_at
    = link_to image_tag( n.photo.photo.url(:thumb) ), n.photo.photo.url(:large), :rel => 'lightbox[newsitem]'

- if !n.report.blank?
  - link_path = n.report.venue.blank? ? report_path(n.report.name_seo) : venue_report_path(n.report.venue.name_seo, n.report.name_seo)
  .Nreport
    %h3= link_to n.report.name, link_path
    .meta
      = "#{t('g.by')} #{n.report.username}"
      = pretty_date n.report.created_at
    - unless n.report.photo.blank?
      = link_to image_tag(n.report.photo.photo.url(:thumb)), link_path
    .subhead= n.report.subhead

- if !n.gallery.blank?
  .Ngallery
    %h3= link_to n.gallery.name, gallery_path(n.gallery.galleryname, 0)
    .meta
      = "#{t('galleries.new')}. #{n.gallery.username} "
      = "on #{pretty_date n.gallery.created_at}."
    - unless 0 == n.gallery.photos.length
      - n.gallery.photos.where( :is_trash => false )[0...8].each do |photo|
        = link_to image_tag( photo.photo.url(:thumb), :alt => photo.name ), photo.photo.url(:small), :rel => "lightbox[#{n.gallery.galleryname}]"
    -# .subhead= n.descr

- if !n.video.blank?
  .Nvideo
    %h3= link_to n.video.name, video_path(n.video.youtube_id)
    = render 'application/meta', :item => n.video
    = render 'videos/embed_half', :video => n.video

- if !n.descr.blank?
  .Ndescr
    .meta= pretty_date n.created_at
    .subhead= simple_format n.descr

.c
