
- url ||= manager_venues_path
= form_for @venue, :url => url do |f|
  .row
    = f.text_field :name, :placeholder => t('g.name')
  .row
    = f.text_field :name_seo, :placeholder => t('g.name_seo')

  .row
    = t('g.descr')
    = f.text_area :descr

  .row
    #{t('g.city')}
    = select :venue, :city_id, @cities

  .row
    X, Y
    = f.text_field :x
    = f.text_field :y
  = f.submit