
.thumb= image_tag 'icons/100x100/venue.png', :alt => 'Venue'
.thumb= image_tag @venue.city.profile_photo.photo(:thumb)
.thumb= image_tag @venue.profile_photo.photo(:thumb)

%h1
  = link_to image_edit, edit_manager_venue_path(@venue)
  #{@venue.name}

%ul.menu
  %li
    = link_to 'Reports', '#'
    (#{@reports.length})
    = link_to '[+]', new_manager_report_for_venue_path(@venue.name_seo)
  %li
    = link_to 'Galleries', '#'
    (#{@galleries.length})
    = link_to '[+]', new_manager_gallery_path
  %li
    = link_to 'Photos', '#'
    (#{@photos.length})
    = link_to '[+]', new_manager_photo_path

%h2
  Features
  (#{@n_features})
  = link_to image_new, new_manager_feature_for_venue_path(@venue.name_seo)

= render 'manager/features/list', :features => @venue.features, :venue => @venue

%h2
  Newsitems
  (#{@n_newsitems})
  = link_to image_new, new_manager_newsitem_for_venue_path(@venue.name_seo)

= @newsitems.inspect

- unless @ch_tag.blank?
  %h2 Characteristic Tag `#{@ch_tag.name}`

- unless @ch_gallery.blank?
  %h2
    Characteristic Gallery `#{@ch_gallery.name}`
    = link_to image_edit, edit_manager_gallery_path(@ch_gallery.id)

  = render 'photos/list', :photos => @ch_gallery.photos

%h2 Characteristic Report

= @ch_report.inspect

#reports_list
  %h3
    Reports (#{@reports.length})
  - @reports.each do |report|
    %h4
      = link_to '[~]', edit_manager_report_path(report)
      = report.name

#galleries_list
  %h3
    Galleries

#photos_list
  %h3
    Photos


