
- url ||= manager_tags_path
= form_for @tag, :url => url do |f|
  .field
    = t('g.name')
    = f.text_field :name
  .field
    = t('g.name_seo')
    = f.text_field :name_seo
  .field.check
    = f.label :is_feature
    = f.check_box :is_feature
  .field
    = f.label :parent_tag
    = select :tag, :parent_tag_id, @tags_list
  .field
    = f.label :site
    = select :tag, :site_id, @sites_list
    
  .actions
    = f.submit
