

= form_for @tag, :url => manager_tag_path do |f|
  .field
    Name
    = f.text_field :name
  .field
    Name Seo
    = f.text_field :name_seo
  .field
    Domain
    = f.text_field :domain
  .actions
    = f.submit