
%h2
  = t('tags.list')
  = link_to '[+]', new_manager_tag_path

%ul.tags-list
  - @tags.map do |t|
    %li
      = link_to '[~]', edit_manager_tag_path(t)
      = link_to t['name_'+@locale.to_s], manager_tag_path(t)
      = button_to '[x]', manager_tag_path(t), :method => :delete
      - if t.children_tags.length > 0
        %ul.children-tags
          - t.children_tags.map do |tt|
            %li
              = link_to '[~]', edit_manager_tag_path(tt)
              = link_to tt['name_'+@locale.to_s], manager_tag_path(tt)
              = button_to '[x]', manager_tag_path(tt), :method => :delete
  




