
%h2
  = t('tags.list')
  = link_to '[+]', new_manager_tag_path

%ul
  - @tags.each do |t|
    %li
      = link_to '[~]', edit_manager_tag_path(t)
      = link_to t['name_'+@locale.to_s], manager_tag_path(t)
      = button_to '[x]', manager_tag_path(t), :method => :delete
  




