

%h2
  Tag `#{ @tag.name }`

%h3 Reports
%ul
  - @reports.each do |r|
    %li
      = link_to '[~]', edit_manager_report_path(r)
      = r.name
      (#{ r.name_seo })

%h3 Galleries
%ul
  - @galleries.each do |r|
    %li
      = r.name
      (#{ r.galleryname })