

.title
  - if !@tag.parent_tag.blank?
    %ul
      %li
        = @tag.parent_tag.name
        %ul
          %li= render 'title', :tag => @tag
  - else
    %ul
      %li= render 'title', :tag => @tag

.reports-list
  %h3= t('reports.list')
  %ul
    - @reports.each do |r|
      %li
        = link_to '[~]', edit_manager_report_path(r)
        = r.name
        (#{ r.name_seo })
  = paginate @reports, :param_name => :reports_page

.galleries-list
  %h3= t('galleries.list')
  %ul
    - @galleries.each do |r|
      %li
        = r.name
        (#{ r.galleryname })
  = paginate @galleries, :param_name => :galleries_page
