
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  -# = devise_error_messages!

  .row
    = f.label :email
    %br
    = f.email_field :email

  .row
    = f.label :name
    %br
    = f.text_field :name

  .row
    = f.label :username
    %br
    = f.text_field :username

  .row
    = f.label :password
    %br
    = f.password_field :password

  .row
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation

  .actions= f.submit "Sign up"


