
.btn-group
  %a{ 'data-toggle' => 'dropdown', :class => 'btn dropdown-toggle' }
    = "#{t('photos.list')} (#{@n_photos})"
    %span.caret
  %ul.dropdown-menu
    %li= link_to t('photos.list'), manager_photos_path
    %li= link_to t('photos.new'), new_manager_photo_path
