
-# blog home

.span-24.center
  -# .wrapper= render 'ads/leaderboard'

  %h1= @site.title

.span-12
  = render 'reports/list', :reports => @reports

.span-12.last

  .center.wrapper= render 'ads/large_rectangle'

  %h3.g Galleries
  .galleries
    - @galleries.each do |r|
      .item
        %h2= link_to r.name, gallery_path(r.galleryname)
        - unless 0 == r.photos.length
          .image= link_to image_tag(r.photos[0].photo.url(:thumb)), gallery_path(r.galleryname)
    = paginate @galleries, :param_name => :galleries_page