
= render 'application/features', :features => @features

.clear
.center.wrapper= render 'ads/leaderboard_gray-blue-dark'

.span-12
  = render 'newsitems/list', :newsitems => @newsitems
  .clear

  .center.wrapper= render 'ads/large_rectangle_gray-blue-dark'

  = render 'reports/features', :reports => @feature_reports

.span-12.last
  = render 'galleries/features', :feature_galleries => @feature_galleries
  = render 'cities/features', :feature_cities => @feature_cities
  -# = render 'users/features', :feature_users => @feature_users
  = render 'tags/features', :feature_tags => @feature_tags

.home-footer