

.features
  - @features.each do |feature|
    - if feature[:ad_large_rectangle]
      = render 'ads/large_rectangle'
    - else
      .item
        %h2= link_to feature[:name], feature[:link_path]

        .descr
          = link_to image_tag( feature[:photo_url] ), feature[:link_path]
          = feature[:descr]

        - if feature[:is_more]
          .more= link_to 'Read more...', feature[:link_path]

        .clear

  .clear
  = render 'travel/cities_customize'

.newsitems-menu
  %ul
    %li.most-interesting
      Most Interesting
    %li.my-city
      = link_to 'My City', 'javascript:void(0);'
      = link_to image_expand, 'javascript:void(0);'
    %li.customize
      = link_to t('g.customize'), 'javascript:void(0);'

.newsitems
  - @newsitems.each do |news|
    .item
      %h2= link_to news[:name], news[:link_path]

      = link_to image_tag( news[:photo_url] ), news[:link_path]

      .descr= news[:descr]

      - if news[:is_more]
        .more= link_to 'Read more...', news[:link_path]

  .clear