
- content_for :left do
  = render 'reports/main_features', :main_feature_reports => @main_feature_reports
  = render 'reports/features', :feature_reports => @feature_reports


- content_for :right do
  = render 'galleries/features', :feature_galleries => @feature_galleries

  = render 'cities/features', :feature_cities => @feature_cities

  = render 'users/features', :feature_users => @feature_users
  
