
.main-feature-reports
  - @main_feature_reports.each do |feature|
    .item
      %h2= link_to feature[:name], report_path( feature )
      .descr
        - unless feature.photo.blank?
          = link_to image_tag( feature.photo.photo.url(:small) ), report_path( feature )
        = feature[:subhead]
      .more= link_to 'Read more...', feature[:link_path]
      .clear

  .clear

.feature-cities
  - @feature_cities.each do |city|
    .item
      
      = image_tag city.profile_photo.photo.url(:thumb)
      %h2= link_to city.name, travel_to_path(city.cityname)
  .clear

= render 'ads/large_rectangle'

.feature-galleries
  - @feature_galleries.each do |gallery|
    .item
      - unless 0 == gallery.photos.length
        = link_to image_tag( gallery.photos[0].photo.url(:thumb) ), gallery_path(gallery.galleryname)
      %h2= link_to gallery.name, gallery_path(gallery.galleryname)

  .clear

.clear
.title
  %h1= t('reports.list')
.feature-reports
  - @feature_reports.each do |feature|
    .item
      %h2= link_to feature[:name], report_path( feature )
      .descr
        - unless feature.photo.blank?
          = link_to image_tag( feature.photo.photo.url(:small) ), report_path( feature )
        = feature[:subhead]
      .more= link_to 'Read more...', feature[:link_path]
      .clear

  .clear
