
= render 'application/features', :features => @features

= render 'ads/leaderboard_wrapped'

= render 'newsitems/list', :newsitems => @newsitems

= render 'ads/large_rectangle_wrapped'

= render 'reports/features', :reports => @feature_reports

= render 'galleries/features', :feature_galleries => @feature_galleries

= render 'cities/features', :feature_cities => @feature_cities

= render 'ads/large_rectangle_wrapped'

= render 'tags/features', :feature_tags => @feature_tags

= render 'venues/features', :venues => @feature_venues

.home-footer
