
.home
  .item.pointers
    .inner
      %h2 Some pointers to keep in mind
      %ul
        %li To add photo to a report, edit the photo and mark its report.
        %li To add photo to city you must edit that city.

  .item.qa-links
    .inner
      %h2 Check over the following links
      %ul
        %li= link_to 'piousbox.com', 'http://piousbox.com'
        %li= link_to 'infiniteshelter.com', 'http://infiniteshelter.com'
        %li= link_to 'computationalartscorp.com', 'http://computationalartscorp.com'
        %li= link_to 'sedux.net', 'http://sedux.net'
        %li= link_to 'webdevzine.com', 'http://webdevzine.com'
        %li= link_to 'travel-guide.mobi', 'http://travel-guide.mobi'
        %li= link_to 'Piousbox profile', 'http://piousbox.com/users/show/piousbox'
        %li= link_to 'User Galleries', 'http://piousbox.com/users/piousbox/articles?layout=application&locale=en'
        %li= link_to 'User Reports', 'http://piousbox.com/users/piousbox/galleries?layout=application&locale=en'

  .item.nodes-list
    .inner
      %h3= t('nodes.list')
      %ul
        - @nodes.each do |node|
          %li
            = "#{node[:node_name]} -p #{node[:port]}"
            = form_tag run_client_on_node_path(node[:node_name]) do
              = submit_tag 'Run Client'

  .item.apps-list
    .inner
      %h3 Apps List
      %ul
        - @apps.each do |app|
          %li
            = app[:id]

  .item.sitemap
    .inner
      %h3 Sitemap
      %ul
        %li /

        %li /cities
        %li /cities/travel-to/:cityname

        %li /reports
        %li /reports/view/:name_seo

        %li /users
        %li /users/show/:username
        %li /users/sign_in

        %li /galleries
        %li /galleries/view/:galleryname

        %li /tags
        %li
          \/tags/view/:name_seo
          %ul
            %li reports pages
            %li galleries pages

  .item
    .inner
      %h3 Scratchpad
      = render 'organizer/scratchpad'

  .item.push-commit
    .inner
      %h3 push commit
      = link_to 'push commit', manager_push_commit_path

  .item.utils
    .inner
      %h3 Utils
      %ul
        %li= link_to 'Clear cache', manager_expire_cache_path





