

%h3= t('g.list')
%ul.menu
  %li= link_to t('list.reports'), manager_reports_path
  %li= link_to t('list.tags'), manager_tags_path
  %li= link_to t('list.cities'), manager_cities_path

%h3= t('g.new')
%ul.menu
  %li= link_to t('g.report'), new_manager_report_path
  %li= link_to t('g.tag'), new_manager_tag_path