

%ul
  %li To add photo to a report, edit the photo and mark its report.
  %li To add photo to city you must edit that city.

%h2 Check over
%ul
  %li= link_to 'piousbox.com', 'http://piousbox.com'
  %li= link_to 'infiniteshelter.com', 'http://infiniteshelter.com'
  %li= link_to 'computationalartscorp.com', 'http://computationalartscorp.com'
  %li= link_to 'sedux.net', 'http://sedux.net'
  %li= link_to 'webdevzine.com', 'http://webdevzine.com'
  %li= link_to 'travel-guide.mobi', 'http://travel-guide.mobi'
  %li= link_to 'Piousbox profile', 'http://piousbox.com/users/show/piousbox'
