
%ul.secondary-menu
  %li.home-wiki= link_to 'Home & Utils', '#'
  %li.scratchpad= link_to 'Scratchpad', '#'
  %li.apps-domains= link_to 'Apps/Domains', '#'
  %li.nodes-list= link_to 'Nodes List', '#'
  %li.latest-commit= link_to 'Latest Commit', '#'
  %li.utils= link_to 'Utils', '#'
  %li.settings= link_to 'Settings', '#'
 
