.my-reports
  %h2.addToggle
    #{t('reports.my')} (#{@my_reports.length}) [<>]
  %ul
    - @my_reports.each do |r|
      %li
        - if r.photo
          = image_tag r.photo.photo.url( :mini )
        - else
          = image_missing( :mini )
        = link_to r.name, report_path(r.name_seo)
        = link_to '[~]', edit_report_path( r.id )
    - if 0 == @my_reports.length
      %li= t('reports.no_reports')
    = paginate @my_reports, :param_name => :reports_page
    %li= link_to image_new, new_report_path
