
.title
  %h1= t('users.settings')

= form_for @user do |f|

  .row
    = f.label :display_ads
    = f.check_box :display_ads

  .row
    = f.label :name
    = f.text_field :name

  .row
    = f.label :github_path
    = f.text_field :github_path

  .row
    = f.label :facebook_path
    = f.text_field :facebook_path

  .row
    = f.label :stackoverflow_path
    = f.text_field :stackoverflow_path

  .actions
    = f.submit