
= link_to "#{t('g.back_to')} #{t('galleries.list')}", user_galleries_path(@user.username)

%h3= @gallery.name

- @gallery.photos.public.each do |photo|
  = link_to image_tag(photo.photo.url(:thumb)), photo.photo.url(:large), :rel => 'lightbox[a]'