
- content_for :content_for_holder do
  .no-holder-inner
    .title
      %h1
        = t('users.list')
        - if !@city.blank?
          = t('g.in')
          = @city.name
      = render 'users/search'
      .c

    = render 'users/list', :users => @users