
.menu-secondary
  %ul
    -# %li= link_to t('users.show_resume'), user_path(@current_user.username)
    %li= link_to t('galleries.new'), new_gallery_path
    %li= link_to t('photos.new'), new_photo_path
    %li= link_to t('reports.new'), new_report_path
    %li= link_to t('videos.new'), new_video_path

= render 'users/my_profiles'
.c
  
= render 'application/set_city'
= render 'users/set_profile_photo'
.c
  
= render 'users/my_reports'
= render 'users/my_galleries'
= render 'users/my_videos'







    