
.col-1
  .title
    %h1= t('users.dashboard')

  = render 'organizer/header'
  = render 'organizer/scratchpad'
  = render 'organizer/extended_forms'

  .newsitems
    = render 'newsitems/list', :newsitems => @newsitems

.col-2
  .title
    %h1= t('users.settings')
  = render 'users/form', :user => @current_user

  %hr
  %h3= t('users.list_profiles')
  - @profiles.each do |p|
    = image_flag p.lang
  = link_to image_tag("icons/32x32/new.png"), new_user_profile_path

