

#content
  %ul.new
    %li.new_report
      = link_to t('new.report'), new_report_path
    %li
      = link_to image_new_photo, new_photo_path, :class => :new_photo_link
    %li.new_address
      %a{:href => '#'} add new address
    %li.new_day
      %a{:href => '#'} add new day
  .scratchpad
    = form_for @current_user, :url => scratchpad_path do |f|
      %fieldset
        %label
          Scratchpad
          %a{:href => ""} expand
        = f.text_area :scratchpad
        = f.submit 'Scratchpad'
  = form_tag search_days_path do
    %fieldset
      = text_field_tag 'date', nil, :placeholder => 'YYYY-MM-DD'
      = submit_tag t('g.search'), :class => :search
  = form_tag search_reports_path do
    %fieldset
      = text_field_tag 'date', nil, :placeholder => t('g.report')
      = submit_tag t('g.search'), :class => :search
      = button_tag t('g.list'), :class => :list
  = form_tag search_galleries_path do
    %fieldset
      = text_field_tag 'date', nil, :placeholder => t('g.gallery')
      = submit_tag t('g.search'), :class => :search
      = link_to 'List', my_galleries_path
      = link_to 'New', new_gallery_path
  = form_tag search_addressbookitems_path do
    %fieldset
      = text_field_tag 'date', nil, :placeholder => t('g.addressbookitem')
      = submit_tag t('g.search'), :class => :search
      = button_tag t('g.list'), :class => :list
  
  %h3= t('my.reports')

  %ul.reports-list
    - @reports.each do |r|
      %li
        = link_to r.name, r
        -# = button_to t('g.edit'), edit_report_path(r)

  %ul.pagination
    %li.active 1
    %li
      %a{:href => '#'} 2
    %li
      %a{:href => '#'} 3
    %li
      %a{:href => '#'} 4
    %li.next
      %a{:href => '#'} next

  .clear
  %h3= link_to t('my.photos'), my_photos_path
  - puts '+++ +++'
  - puts @current_user.inspect
  %h3= link_to t('my.resume'), user_resume_path(@current_user.username)
  %h3= link_to t('my.timeline'), my_timeline_path

  %h3 A5s