
#header
  %h1= @current_user.email
  = image_tag 'logos/organizer.png'
  
  %ul.user_menu
    %li.profile
      %a{:href => '#'} profile preview
    %li.setting
      %a{:href => '#'} settings
  %h4= @current_user.email
#content
  %ul.new
    %li.new_report
      %a{:href => '#'} create new report
    %li.new_address
      %a{:href => '#'} add new address
    %li.new_day
      %a{:href => '#'} add new day
  %form.create
    %fieldset
      %label
        Scratchpad
        %a{:href => ""} expand
      %textarea
      %input{:type => "submit", :value => "save"}
  %form
    %fieldset
      %input{:type => "text"}
      %input{:type => "submit", :value => "search"}
    %fieldset
      %input{:type => "text"}
      %input{:type => "submit", :value => "search"}
      %input{:type => "submit", :value => "list"}
    %fieldset
      %input{:type => "text"}
      %input{:type => "submit", :value => "search"}
      %input{:type => "submit", :value => "list"}
  %h3 My Reports
  %ul.reports_list
    %li
      %a{:href => '#'} Report 1
      %input{:type => "button", :value => "edit"}
    %li
      %a{:href => '#'} Report 2
      %input{:type => "button", :value => "edit"}
    %li
      %a{:href => '#'} Report 3
      %input{:type => "button", :value => "edit"}
    %li
      %a{:href => '#'} Report 4
      %input{:type => "button", :value => "edit"}
    %li
      %a{:href => '#'} Report 5
      %input{:type => "button", :value => "edit"}
  %ul.pagination
    %li.active 1
    %li
      %a{:href => '#'} 2
    %li
      %a{:href => '#'} 3
    %li
      %a{:href => '#'} 4
    %li.next
      %a{:href => '#'} next
#footer
  %ul
    %li= link_to t('users.sign_out'), destroy_user_session_path, :method => :delete
    %li= link_to t('list.cities'), cities_path
