
.menu-secondary
  %ul
    %li= link_to t('users.show_resume'), user_path(@current_user.username)
    %li= link_to t('galleries.new'), new_gallery_path
    %li= link_to t('photos.new'), new_photo_path
    %li= link_to t('reports.new'), new_report_path
    -# %li= link_to t('videos.new'), new_video_path
    
.my-profiles
  %h3= t('users.list_profiles')
  %ul
    - @profiles.each do |p|
      %li
        = p.updated_at.to_s[0..10]
        = link_to image_flag(p.lang), user_path(current_user.username)
        -# = link_to '[~]', edit_user_profile_path(current_user.username, p.id)
  = link_to image_tag("icons/32x32/new.png"), new_user_profile_path

.my-reports
  %h3= t('reports.my')
  %ul
    - @my_reports.each do |r|
      %li= r.name
    - if 0 == @my_reports.length
      %li= t('reports.no_reports')
    %li= link_to image_new, new_report_path
  
.my-galleries
  %h3= t('galleries.my')
  %ul
    - @my_galleries.each do |g|
      %li= g.name
    - if 0 == @my_galleries.length
      %li= t('galleries.no_galleries')
    %li= link_to image_new, new_gallery_path

.my-videos.hide
  %h3= t('videos.my')
  %ul
    - @my_videos.each do |v|
      %li= v.youtube_id
    - if 0 == @my_videos.length
      %li= t('videos.no_videos')
    %li= link_to image_new, new_video_path






    