

#sidebar
  - begin
    = image_tag @user.profile_photo.photo.url(:two_hundred)
  - rescue
    No Image

  %ul.social_things
    %li.facebook
      = link_to 'Facebook', @user.facebook_path
    %li.github
      = link_to 'Github', @user.github_path
    %li.linkedin
      = link_to 'Linkedin', @user.linkedin_path

  %ul.download_resume
    %li.word
      = link_to 'Download Resume', @user.doc_resume_path
    %li.pdf
      = link_to 'Download Resume', @user.pdf_resume_path

#main_content
  #accordion
    %h3
      About me
    %div
      = raw @user.about
    %h3
      Objectives
    %div
      =  raw @user.objectives
    %h3 Education
    %div
      = raw @user.education
    %h3 Current Employment
    %div
      = raw @user.current_employment
    %h3 Past Employment
    %div
      = raw @user.past_employment
    %h3 References
    %div 
      Available upon request

%ul.language
  %li.active.us-eng
    %a{:href => '#'} English(US)
  %li.russian
    %a{:href => '#'} Russian
  %li.portugese
    %a{:href => '#'} Portugese