
#sidebar
  .profile-photo
    - if @user.profile_photo.blank?
      = image_missing
    - else
      = image_tag @user.profile_photo.photo.url(:two_hundred)

  %ul.social_things
    %li.facebook
      = link_to 'Facebook', @user.facebook_path
    %li.github
      = link_to 'Github', @user.github_path

  - unless @profile.blank?
    %ul.download_resume
      %li.word
        = link_to t('users.download_resume'), @profile.doc_resume_path
      %li.pdf
        = link_to t('users.download_resume'), @profile.pdf_resume_path
      %li.print
        = link_to t('users.print_resume'), user_path(@user.username, :print => true)

#main_content
  %h2= @user.name

  #accordion
    - if @profile.blank?
      %h3= t('users.about_me')
      %div= t('g.no_info')
    - else
      %h3= t('users.about_me')
      %div
        = raw @profile.about
      %h3
        = t('users.objective')
      %div
        =  raw @profile.objectives
      %h3
        = t('users.education')
      %div.edu= raw @profile.education
      %h3
        = t('users.current_employment')
      %div
        = raw @profile.current_employment
      %h3
        = t('users.past_employment')
      %div
        = raw @profile.past_employment
    %h3
      = t('users.references')
    %div
      =t ('users.available_upon_request')