
.head-1
  = render 'features/list', :features => @features[0...4]

  -# = render 'ads/leaderboard_wrapped'

.col-1
  = render 'newsitems/list', :newsitems => @newsitems

  -# = render 'ads/large_rectangle_wrapped'

  -# = render 'reports/features', :reports => @feature_reports

  -# = render 'galleries/features', :feature_galleries => @feature_galleries

.col-2
  = render 'cities/features', :feature_cities => @feature_cities

  -# = render 'ads/large_rectangle_wrapped'

  = render 'tags/list', :tags => @feature_tags

  -# = render 'venues/features', :venues => @feature_venues

  = render 'features/list', :features => @features[4...@features.length]

  = render 'ads/skyscraper'
