.head-1
  = render 'features/list', :features => @features[0...4]
  .ad-leaderboard= render 'ads/src/leaderboard_bdd2ff'
  
.col-1
  = render 'newsitems/list', :newsitems => @newsitems

.col-2
  = render 'cities/features', :feature_cities => @feature_cities
  = render 'tags/list', :tags => @feature_tags
  -# = render 'galleries/features', :feature_galleries => @feature_galleries
  - if @features.length > 4
    .more-features= render 'features/list', :features => @features[4...20]
  -# = render 'ads/skyscraper'

.c
.foot-1
  -# = render 'ads/leaderboard'
