

.sidebar

  = render 'search'

  %ul.tags-menu.hide
    - @site.tags.each do |tag|
      %li= tag.name



.main-content
  .items
    - @reports.each do |report|
      .item
        %h2= link_to report.name, report_path(report)
        .subhead= report.subhead
    

  = paginate @reports