
= image_tag 'https://s3.amazonaws.com/ish-assets/logos/ISh.png', :class => 'logo'

%p Infinite Shelter (ISh) is a content management system.


%ul.three.menu
  %li
    = image_tag 'https://s3.amazonaws.com/ish-assets/icons/128x128/photo.png'
    = link_to 'Galleries', galleries_path

  %li
    = image_tag 'https://s3.amazonaws.com/ish-assets/icons/128x128/video.png'
    = link_to 'Videos', videos_path

  %li
    = image_tag 'https://s3.amazonaws.com/ish-assets/icons/128x128/text.png'
    = link_to 'Reports', reports_path

= render 'ads/leaderboard'