
- url ||= manager_report_path
= form_for @report, :url => url, :html => { :multipart => true } do |f|

  - unless @venue.blank?
    = f.hidden_field :venue_id, :value => @venue.id

  .span-12
    .actions
      = f.submit 'Submit'

    .field.name
      = f.label :name
      = f.text_field :name

    .field.name
      = f.label :name_seo
      = f.text_field :name_seo

    .field.subhead
      = f.label :subhead
      = f.text_area :subhead

    - if @venue.blank?
      .location
        .field
          = f.label :venue_id
          = f.select :venue_ids, options_for_select(@list_venues), {}, { :multiple => true }

        .field
          = f.label :city_id
          = select :report, :city_id, @cities

        .row
          %label coords
          = f.text_field :x
          = f.text_field :y

    .field
      = f.label :tag_id
      = select :report, :tag_id, @tags_list

    .check
      = f.label :is_done
      = f.check_box :is_done

    .check
      = f.label :is_public
      = f.check_box :is_public

    .check
      = f.label :is_trash
      = f.check_box :is_trash

    .check
      = f.label :is_feature
      = f.check_box :is_feature

    .row
      = f.label :lang
      = f.text_field :lang

  .span-12.last
    .field.descr
      = f.text_area :descr, :class => 'tinymce'

    .actions
      = f.submit 'Submit'


