
- url ||= manager_report_path
= form_for @report, :url => url, :html => { :multipart => true } do |f|

  .actions
    = f.submit

  .field.name
    Name
    = f.text_field :name

  .field.name_seo
    Name_seo
    = f.text_field :name_seo

  .field.domain
    %label domain
    = f.text_field :domain

  .field.subhead
    = f.text_area :subhead

  .field.descr
    = f.text_area :descr, :class => 'tinymce'

  .field
    = f.file_field :photo

  .field
    City
    = select :report, :city_id, @cities
  .row
    %label coords
    = f.text_field :x
    = f.text_field :y

  .field
    Is Done
    = f.check_box :is_done
  .field
    Is Trash
    = f.check_box :is_trash
  .field
    Is Feature
    = f.check_box :is_feature
  .field
    Is Public
    = f.check_box :is_public

  .field
    Tag
    = select :report, :tag_id, @tags

  = f.submit 'Submit'


