
- url ||= manager_report_path
= form_for @report, :url => url, :multipart => true do |f|

  .actions
    = f.submit

  .field.name
    Name
    = f.text_field :name

  .field.name_seo
    Name_seo
    = f.text_field :name_seo

  .field.domain
    %label domain
    = f.text_field :domain

  .field.descr
    = f.text_area :descr, :class => 'tinymce'

  .field
    City
    = select :report, :city_id, @cities

  .field
    Is Done
    = f.check_box :is_done
  .field
    Is Trash
    = f.check_box :is_trash
  .field
    Is Public
    = f.check_box :is_public

  .field
    Tag
    = select :report, :tag_id, @tags

  = f.submit 'Submit'

= link_to 'manager reports', manager_reports_path

