
- url ||= manager_report_path
= form_for @report, :url => url, :html => { :multipart => true } do |f|

  - unless @venue.blank?
    = f.hidden_field :venue_id, :value => @venue.id

  .field.name
    Name
    = f.text_field :name

  .field.subhead
    = f.text_area :subhead

  .field.descr
    = f.text_area :descr, :class => 'tinymce'

  - if @venue.blank?
    .field
      = f.label :venue_id
      = select :report, :venue_id, @list_venues

    .field
      = f.label :city_id
      = select :report, :city_id, @cities

    .row
      %label coords
      = f.text_field :x
      = f.text_field :y

    .field
      Is Public
      = f.check_box :is_public

    .field
      Tag
      = select :report, :tag_id, @tags

  .field
    Is Done
    = f.check_box :is_done

  .field
    Is Trash
    = f.check_box :is_trash

  .field
    Is Feature
    = f.check_box :is_feature  

  = f.submit 'Submit'


