
- if @venue.blank?
  .location
    .field
      = f.label :venue_id
      = f.select :venue_ids, options_for_select(@list_venues), {}, { :multiple => true }

    .field
      = f.label :city_id
      = select :report, :city_id, @cities

    .row
      %label coords
      = f.text_field :x
      = f.text_field :y
