
- url ||= manager_report_path
= form_for @report, :url => url, :html => { :multipart => true } do |f|

  - unless @venue.blank?
    = f.hidden_field :venue_id, :value => @venue.id

  .col-1
    .actions.top
      = f.submit 'Submit'

    .field.name
      = f.label :name
      = f.text_field :name

    .field.name_seo
      = f.label :name_seo
      = f.text_field :name_seo

    .field.subhead
      = f.label :subhead
      = f.text_area :subhead

    -# = render 'form_location'
    
    .field
      = f.label :tag_id
      = select :report, :tag_id, @tags_list

    .field
      = f.label :site_id
      = select :report, :site_id, @sites_list
      
    .field
      = f.label :user_id
      = select :report, :user_id, @users_list
      
    .check
      = f.label :is_done
      = f.check_box :is_done

    .check
      = f.label :is_public
      = f.check_box :is_public

    .check
      = f.label :is_trash
      = f.check_box :is_trash

    .check
      = f.label :is_feature
      = f.check_box :is_feature

    .field
      = f.label :lang
      = f.text_field :lang

  .col-2
    .field.descr
      = f.text_area :descr, :class => 'tinymce'

    .actions.bottom
      = f.submit 'Submit'


