
= render 'manager/reports/header'

%ol.reports-index
  - @reports.each_with_index do |r, idx|
    %li
      .mini
        - unless r.photo.blank?
          = image_tag r.photo.photo.url(:mini)
      = link_to '[~]', edit_manager_report_path(r)
      = link_to r.name, manager_report_path(r)
      .delete= button_to "#{idx+1}. [x]", manager_report_path(r), :method => :delete
      .tag= r.tag.name unless r.tag.blank?
      .site= r.site.domain unless r.site.blank?
- if params[:fullindex] || params[:nosite]
  -# ;
- else
  = paginate @reports, :param_name => :reports_page unless false == @is_paginated
