
.title
  %h1
    = t('reports.list')
    - unless @city.blank?
      in #{@city.name}
    - unless @this_domain.blank?
      for #{@this_domain}
    = link_to '[+]', new_manager_report_path

= form_tag manager_reports_path, :method => :get, :class => :search do
  .field.search_words
    [x]
    = text_field_tag 'search_words', params[:search_words], :placeholder => 'Search Words'
  .actions
    = submit_tag 'Search'
  .c
.c
%ul.menu
  - if @is_features
    %li.bold
      = link_to 'Features/on', manager_reports_path
      (#{@reports.length})
  - else
    %li= link_to 'Features', manager_feature_reports_path

  - if @is_dones
    %li.bold
      = link_to 'Dones/on', manager_reports_path
      (#{@reports.length})
  - else
    %li= link_to 'Dones', manager_done_reports_path

  - if @is_undones
    %li.bold
      = link_to 'Undones/on', manager_reports_path
      (#{@reports.length})
  - else
    %li= link_to 'Undones', manager_undone_reports_path

  - if @is_untagged
    %li.bold
      = link_to 'Untagged/on', manager_reports_path
      (#{@reports.length})
  - else
    %li= link_to 'Untagged', manager_untagged_reports_path
    
%ul.menu
  %li= link_to 'All Stories', manager_reports_fullindex_path
  %li= link_to 'Paginated view', manager_reports_path
  
- unless params[:fullindex]
  = paginate @reports, :param_name => :reports_page

%ol.reports-index
  - @reports.each_with_index do |r, idx|
    %li
      .mini
        - unless r.photo.blank?
          .mini= image_tag r.photo.photo.url(:mini)

      = link_to '[~]', edit_manager_report_path(r)
      = link_to r.name, manager_report_path(r)
      .delete
        = button_to "#{idx}. [x]", manager_report_path(r), :method => :delete
      .tag       
        = r.tag.name unless r.tag.blank?
        
- unless params[:fullindex]
  = paginate @reports, :param_name => :reports_page