
.title
  %h1
    = t('reports.list')
    - unless @city.blank?
      in #{@city.name}
    - unless @this_domain.blank?
      for #{@this_domain}
    = link_to '[+]', new_manager_report_path

= form_tag manager_reports_path, :method => :get, :class => :search do
  .field.search_words
    [x]
    = text_field_tag 'search_words', params[:search_words], :placeholder => 'Search Words'
  .actions
    = submit_tag 'Search'
  .clear

%ul.menu
  - if @is_features
    %li.bold= link_to 'Features/on', manager_reports_path
  - else
    %li= link_to 'Features', manager_feature_reports_path

  - if @is_dones
    %li.bold= link_to 'Dones/on', manager_reports_path
  - else
    %li= link_to 'Dones', manager_done_reports_path

  - if @is_undones
    %li.bold= link_to 'Undones/on', manager_reports_path
  - else
    %li= link_to 'Undones', manager_undone_reports_path

= paginate @reports, :param_name => :reports_page
%ol
  - @reports.each do |r|
    %li
      = link_to '[~]', edit_manager_report_path(r)
      = link_to r.name, manager_report_path(r)
      = button_to '[x]', manager_report_path(r), :method => :delete
      - begin
        = image_tag r.photo.photo.url(:thumb)
      - rescue
= paginate @reports, :param_name => :reports_page