


%h1
  = t('reports.list')
  - unless @city.blank?
    in #{@city.name}
  = link_to '[+]', new_manager_report_path

%ul.menu
  %li
    = form_tag search_manager_reports_path do
      .field.search_words
        = text_field_tag 'report[search_words]', nil, :placeholder => 'Search Words'
      .field.city
        City
        = select :report, :city_id, @cities
      .field.is_public
        Public
        = check_box_tag 'report[is_public]'
      .field.is_done
        Done
        = check_box_tag 'report[is_done]'
      .actions
        = submit_tag 'Filter'

%ol
  - @reports.each do |r|
    %li
      = link_to '[~]', edit_manager_report_path(r)
      = link_to r.name, manager_report_path(r)
      = button_to '[x]', manager_report_path(r), :method => :delete



= paginate @reports, :param_name => :reports_page