


%h1= t('reports.list')

%ul.menu
  %li= link_to 'Fresh', '/'
  %li= link_to 'Public', '/'
  %li
    = form_tag search_manager_reports_path do
      = select :report, :city_id, @cities
      = submit_tag 'By City'

%ul
  - @reports.each do |r|
    %li
      = link_to '[~]', edit_manager_report_path(r)
      = link_to r.name, manager_report_path(r)