
- url ||= venues_path
= form_for @venue, :url => url do |f|

  .row
    = f.label :name
    = f.text_field :name, :placeholder => t('g.name')

  .row
    = t('g.descr')
    = f.text_area :descr

  .row
    #{t('g.city')}
    = select :venue, :city_id, @cities

  .row
    X, Y
    = f.text_field :x
    = f.text_field :y

  .row
    = f.label :is_feature
    = f.check_box :is_feature

  = f.submit