
.venue-header
  .logo
    - if venue.profile_photo.blank?
      = link_to image_missing, venue_path( venue.name_seo )
    - else
      = link_to image_tag( venue.profile_photo.photo.url(:thumb) ), venue_path( venue.name_seo )
  %h2= venue.name
  .subhead= venue.descr

  - if features.length > 0
    %ul.features-list
      - features.each do |feature|
        %li= link_to feature[:name], feature[:link_path]

.venue-map
  - unless venue.x.blank? || venue.y.blank?
    #venues_show_canvas{ :x => venue.x, :y => venue.y }
  - unless venue.city.blank?
    .cityname= venue.city.name
