
= render 'venues/header', :venue => @venue, :features => @features

.galleries-show.show-long

  .title
    %h1= @gallery.name.titleize
    -# = render 'galleries/change_style', :gallery => @gallery
    = render 'meta', :item => @gallery

  .items.center
    - @photos.each do |photo|
      .item= image_tag photo.photo.url(:large)

  = render 'ads/src/leaderboard'
