
.venues-list

  .title
    %h1
      = t('venues.list')
      - if !@city.blank?
        = t('g.in')
        = @city.name

  .items
    - @venues.each do |venue|
      .item
        %h3= venue.name
        = venue.name_seo
        .subhead= venue.descr
        - if venue.photos.length > 0
          - venue.photos.each do |photo|
            = link_to image_tag(photo.photo.url(:thumb)), photo.photo.url(:large), :rel => "lightbox[#{venue.name_seo}]"
