-##
-## venue/show
-##
- content_for :title do
  = @venue.name

= render 'venues/header', :venue => @venue, :features => @features

= render 'ads/src/leaderboard'

.col-1
  = render 'newsitems/list', :newsitems => @newsitems # .newsitems-list

-# = render 'reports/list', :reports => @reports

.col-2
  - unless @reports.blank?
    .reports-list
      Reports
      - @reports.each do |report|
        %h5= link_to report.name, venue_report_path(@venue.name_seo, report.name_seo)

  = render 'ads/src/skyscraper'

  - unless @galleries.blank?
    .galleries-list
      Galleries
      - @galleries.each do |gallery|
        %h5= link_to gallery.name, venue_gallery_path(@venue.name_seo, gallery.galleryname)

  - unless @users.blank?
    .users-list
      Users
      - @users.each do |user|
        %h5= link_to user.username, user_path(user.username)

.c
= render 'ads/src/leaderboard'
