
-##
-## venue/show
-##
- content_for :title do
  = @venue.name


.span-18
  .logo
    - if @venue.profile_photo.blank?
      = link_to image_missing, venue_path( @venue.name_seo )
    - else
      = link_to image_tag( @venue.profile_photo.photo.url(:thumb) ), venue_path( @venue.name_seo )
  %h2= @venue.name
  .subhead= @venue.descr

.span-6.last
  - unless @venue.city.blank?
    .wrapper
      .center= @venue.city.name
      #cities_show_canvas
  - else
    &nbsp;

.c

- unless @features.blank?
  .four-features
    = render 'features/list', :features => @features[0...Feature.n_features]

- if !@features.blank? && @features.length > Feature.n_features
  .other-features
    - @features[4..@features.length].each do |f|
      .item
        %h5= f.name
        - unless f.subhead.blank?
          .subhead= f.subhead
.c
