
-##
-## venue/show
-##
- content_for :title do
  = @venue.name

.venue-header
  .logo
    - if @venue.profile_photo.blank?
      = image_tag 'missing.png'
    - else
      = image_tag @venue.profile_photo.photo.url(:thumb)

  %ul.ch-links
    - @ch_links.each do |link|
      %li= link_to link[:name], link[:path]

  %h2= @venue.name
  .subhead= @venue.descr

.ch-gallery
  %ul#carousel
    - @ch_gallery.photos.each do |photo|
      %li= image_tag photo.photo.url(:small), :width => 500, :height => 400


.four-features
  = render 'application/features', :features => @features[0..4]
  
.rest-features
  .items
    - @features[4..@features.length].each do |f|
      .item= f.name

