
.btn-group
  %a{ 'data-toggle' => 'dropdown', :class => 'btn dropdown-toggle' }
    = "#{t('users.list')} (#{@n_users})"
    %span.caret
  %ul.dropdown-menu
    %li= link_to t('users.list'), manager_users_path
    %li= link_to t('users.new'), new_manager_user_path
