
- level ||= 1

%div{ :class => "tag-item tag-item-level-#{level}" }

  %h2{ :class => "level-#{level}" }
    = link_to tag.name, tag_path(tag.name_seo)
    -# = "(#{tag.reports.public.length}) (#{tag.galleries.public.length})"
      
  .descr= tag.descr
  
  - if tag.children_tags.length > 0
    .children-tags-list
      - tag.children_tags.map do |tt|
        = render 'item', :tag => tt, :level => level+1
        
  - if tag.reports.length > 0
    .tag-reports
      - tag.reports[0..Tag.n_reports-1].each do |report|
        = render 'reports/item_mini', :report => report
      .item-mini
        %h5= link_to '[More Reports]', tag_path(tag.name_seo)
      
  - if tag.galleries.length > 0
    %ul.tag-galleries
      - tag.galleries[0..Tag.n_galleries].each do |gallery|
        %li= link_to gallery.name, gallery_path(gallery.galleryname, 0)
      %li ...
      
  - if tag.videos.length > 0
    %ul.tag-videos
      - tag.videos[0..Tag.n_videos].each do |video|
        %li= link_to video.name, video_path(video.youtube_id)
      %li ...
