
.tag-item

  %h2
    = link_to tag['name_'+@locale.to_s], tag_path(tag.name_seo)
    -# = "(#{tag.reports.public.length}) (#{tag.galleries.public.length})"
      
  - if tag.children_tags.length > 0
    .children-tags-list
      - tag.children_tags.map do |tt|
        = render 'item', :tag => tt
        
- proc do # hidden
  - if tag.reports.public.length > 0
    %ul.tag-reports
      - tag.reports.public.limit(Tag.n_items).each do |report|
        %li= link_to report.name, report_path(report.name_seo)

  - if tag.galleries.public.length > 0
    %ul.tag-galleries
      - tag.galleries.public.limit(Tag.n_items).each do |gallery|
        %li= link_to gallery.name, gallery_path(gallery.galleryname, 0)
