
.title
  %h1= t('tags.list')

= render 'ads/src/leaderboard'

.feature-tags-list
  - @feature_tags.each do |tag|
    .item= render 'tags/item', :tag => tag

= render 'ads/src/leaderboard'

.tags-list
  - @tags.each do |tag|
    .item= render 'tags/item', :tag => tag