-## tags/show

.head-1
  .title
    %h1= @tag['name_'+@locale.to_s]
  = render 'features/list', :features => @features[0...4]
  
.col-1
  = render 'ads/banner_blue'
  = render 'newsitems/list', :newsitems => @newsitems

.col-2
  = render 'tags/list', :tags => @children_tags
  = render 'galleries/list', :galleries => @galleries, :n_thumbs => 4
  - if @features.length > 4
    .more-features= render 'features/list', :features => @features[4...20]
  = render 'videos/list', :videos => @videos
  = render 'reports/list', :reports => @reports, :n_ads => 2
