
-##
-## tags/show
-##

.title
  %h1= @tag.name

.column-1
  = render 'reports/list', :reports => @reports, :n_ads => 3

.column-2
  = render 'galleries/list', :galleries => @galleries, :n_thumbs => 3
  = render 'videos/list', :videos => @videos

= render 'disqus'