
-##
-## tags/show
-##

.head-1
  .title
    %h1
      = t('tags.one')
      = @tag['name_'+@locale.to_s]

.col-1
  = render 'videos/list', :videos => @videos

  = render 'reports/list', :reports => @reports, :n_ads => 2

.col-2
  = render 'galleries/list', :galleries => @galleries, :n_thumbs => 4

  = render 'ads/skyscraper'

.foot-1
  = render 'disqus'