
-##
-## tags/show
-##

.title
  %h1
    = t('tags.one')
    \::
    = @tag.name

= render 'reports/list', :reports => @reports, :n_ads => 3

= render 'galleries/list', :galleries => @galleries, :n_thumbs => 3

= render 'videos/list', :videos => @videos

= render 'disqus'