-## tags/show

.head-1
  .title
    %h1= @tag['name_'+@locale.to_s]
  = render 'features/list', :features => @features[0, Tag.n_features]
  
.col-1
  = render 'ads/banner_blue'
  = render 'newsitems/list', :newsitems => @newsitems

.col-2
  -# = render 'galleries/list', :galleries => @galleries, :n_thumbs => 4
  - if @features.length > Tag.n_features
    .more-features= render 'features/list', :features => @features[Tag.n_features, 20]
  -# = render 'videos/list', :videos => @videos
  -# = render 'reports/list', :reports => @reports, :n_ads => 2

.col-3
  = render 'tags/list', :tags => @children_tags
