
-##
-## tags/show
-##

.span-24
  .title
    %h1= @tag.name

.span-10
  = render 'reports/list', :reports => @reports, :n_ads => 3

.span-14.last
  = render 'galleries/list', :galleries => @galleries, :n_thumbs => 3
  = render 'videos/list', :videos => @videos

.span-24
  = render 'disqus'