 

#footer
  #stay-connected
    .container
      %p Stay connected
      %ul
        %li.facebook
          = link_to t('g.facebook'), 'http://facebook.com/piousbox'
        %li.linkedin.hide
          %a{:href => '#'} Linkedin
        %li.subscribe
          = link_to t('g.subscribe'), cac_subscribe_path

  #posts
    .container
      = render 'cac/from_our_blog'
      
      #connect
        %h2
          %span= t('g.subscribe_to_news')
        = render 'subscriptions/form'

      .clear

  .details.container
    %p 
      &copy; 2012 Computational Arts Corp.
      = t('g.copyright')

    %ul
      %li= link_to t('g.privacy'), cac_privacy_path

    .hide
      = render 'multinational'