
// from our blog
// 20120923

#popular-posts
  %h2
    %span= t('g.from_our_blog')

  - if @cac_posts.blank?
    %ul.posts
      %li
        %img{:alt => "image", :src => "http://www.placehold.it/45x45"}
        .post-info
          %span.title=link_to 'Computational Arts Corp Gains a Site', "http://infiniteshelter.com/reports/view/Computational_Arts_Corp_Gains_a_Site"
          %span.discription 
            \...a brand new style for itself. 
          .post-summary
            = t('g.oo')
            2012-09-17
            = t('g.by')
            = link_to 'Piousbox', "http://infiniteshelter.com/people/show/piousbox"

  - else
    %ul.posts
      - @posts.each do |post|
        %li
          %img{:alt => "image", :src => "http://www.placehold.it/45x45"}
          .post-info
            %span.title= link_to post.title, post_path(post)
            %span.discription= post.subhead
            %em.post-summary
              %span= pretty_date post.date
              = t('g.by')
              = post.author_name

    %ul.pagination
      %li.previous
        %a{:href => 'javascript:void(0);', :title => "previous"}= t('g.previous')
      %li.next
        %a{:href => 'javascript:void(0);', :title => "next"}= t('g.next')

  .clear



