

#header

  %h1 Computatinal Arts Corp.

  = link_to image_tag('logos/logo.png'), cac_root_path, :class => :logo

  %ul#main_menu

    

    %li.news
      = link_to t('cac.news'), cac_news_path

    %li.about
      = link_to t('cac.about'), cac_about_path
    
    - proc do # hidden
      %li.home
        = link_to t('g.home'), cac_root_path
      %li.team
        = link_to t('g.team'), cac_team_path
      %li.technology
        = link_to t('g.technology'), cac_technology_path
      %li.blog
        = link_to t('g.blog'), cac_blog_path

    %li.portfolio
      = link_to t('g.portfolio'), cac_portfolio_path

    %li.services
      = link_to t('g.services'), cac_services_path

    %li.contact
      = link_to t('cac.contact'), cac_contact_path

  %ul#secondary_menu
    = render 'login_register'

  .hide
    = render 'multinational'