

.simplest-nav
  = link_to ' ', root_path, :class => 'home'
  = link_to ' ', about_path, :class => 'about'
  = link_to ' ', team_path, :class => 'team'
  = link_to ' ', portfolio_path, :class => 'portfolio'
  = link_to ' ', services_path, :class => 'services'
  = link_to ' ', contact_path, :class => 'contact'
  



