
#content

  %h2 Portfolio
  .items
    %ul
      %li
        = image_tag 'portfolio/screen1.png', :width => 280
        %strong Reduced Printing .com
        %em Web Development & Design

    %ul
      %li
        = image_tag 'portfolio/screen2.png', :width => 280
        %strong sheimagazine.com
        %em Backend Development

    %ul
      %li
        = image_tag 'portfolio/screen3.png', :width => 280, :height => 200
        %strong annesque.com/users/dashboard
        %em 
          Design, Development, Infrastructure -
          %br
          Under Active Development

    %ul
      %li
        = image_tag 'portfolio/screen4.png', :width => 280
        %strong piousbox.com
        %em 
          Design, Development, Infrastructure -
          %br
          Under Active Development

    %ul
      %li
        = image_tag 'portfolio/screen5.png', :width => 280
        %strong infiniteshelter.com
        %em 
          Design, Development, Infrastructure -
          %br
          Under Active Development

    %ul
      %li
        = image_tag 'portfolio/screen6.png', :width => 280
        %strong annesque.com/cities/profile
        %em 
          Design, Development, Infrastructure -
          %br
          Under Active Development

= render 'contact'
