



%h2= link_to 'News', cac_news_path

%h3= @report.name

- if @report.photo
  .float-right= image_tag @report.photo.photo.url(:small)

.suhbead
  = @report.subhead

.descr
  = raw @report.descr

.share_this
  = render 'share_this'