// individual file upload

- url ||= photos_path

= form_for @photo, :url => url, :html => { :multipart => true } do |f|

  - if @photo.errors.any?
    #error_explanation
      %h2
        = pluralize(@photo.errors.count, "error")
        prohibited this photo from being saved:
      %ul
        - @photo.errors.full_messages.each do |msg|
          %li= msg

  .new-photo
    = f.file_field :photo

  .row
    = f.label :name
    = f.text_field :name
  .row
    = f.label :descr
    = f.text_area :descr

  .line
    = t('g.is_public')
    = f.check_box :is_public, :checked => true

  .line
    = t('users.set_as_profile_photo')
    = check_box_tag :set_as_profile_photo

  .line
    = f.label :city_id
    = select :photo, :city_id, @cities

  .line
    = f.label :gallery_id
    = select :photo, :gallery_id, @galleries

  .line
    = f.label :report_id
    = select :photo, :report_id, @reports

  .line
    = f.label :tag_id
    = select :photo, :tag_id, @tags

  .line
    = f.label :venue_id
    = select :photo, :venue_id, @list_venues

  .line
    = f.label :user_id
    = select :photo, :user_id, @list_users

  .row
    = f.label :viewers
    = select :photo, :viewer_ids, @friends, {}, { :multiple => true }

  - if @current_user.blank?
    .row
      %p= t('g.captcha_explanation')
      = recaptcha_tags

  .actions
    = f.submit t('photos.upload')
