
.title
  %h1
    Gallery `#{@gallery.name}`

%ul.menu-secondary
  %li= link_to 'Back to organizer', organizer_path

.col-1
  %h2 Add photos

  .loading-a
    = image_tag 'loading-100x100.gif'
  
  %ul{ :id => 'photos', :class => 'thumbnails', 'data-json-url' => j_gallery_path(@gallery.id) }
  
  %input{ :id => 'fileupload', :type => 'file', :name => 'photo[photo]',
         'data-photos-path' => gallery_multiadd_photos_path( @gallery.galleryname ),
         :multiple => '' }
  .c
    
.col-2
  %h2= t('galleries.edit')
  = render 'galleries/form', :url => update_gallery_path(@gallery)

  .c
    
.c
%br
%br
%br
%br
%br
  