
= form_for @feature, :url => url do |f|
  .row
    = f.label :name
    = f.text_field :name

  .row
    = f.label :subhead
    = f.text_field :subhead

  .row
    = f.label :link_path
    = f.text_field :link_path

  .row
    = f.label :image_path
    = f.text_field :image_path

  .row
    = f.label :weight
    = f.text_field :weight

  .row
    = f.label :report
    = select :feature, :report, @reports

  .actions
    = f.submit 'Create'
