
%h1
  Site
  = link_to @site.domain, "http://#{@site.domain}:#{request.port}"

= render 'form', :url => manager_site_path(@site.id)

.clear
.features
  %h2
    Features (#{@site.features.length})
    = link_to '[+]', add_manager_feature_for_site_path(@site.id)
  .items
    - @features.each do |feature|
      .item
        = link_to '[~]', manager_site_edit_feature_path(@site.id, feature.id)
        = feature.name
        %br
        = feature.created_at

.clear
= render 'application/features', :features => @site.features

.clear
.span-12
  %h2
    Newsitems
    = link_to '[+]', add_manager_newsitem_for_site_path(@site.id)

  = render 'newsitems/list', :newsitems => @newsitems

.span-12.last
  &nbsp;

.clear