
%h2
  = t('sites.list')
  = link_to '[+]', new_manager_site_path

.items
  - @sites.each do |site|
    .item
      = image_tag "flags/#{site.lang}.png"
      = link_to site.title, "http://#{site.domain}:#{request.port}"
      = link_to '[~]', edit_manager_site_path(site)