
%h2
  = t('sites.list')
  = link_to '[+]', new_manager_site_path

.items
  - previous_domain = ''
  - idx = 0
  - while idx < @sites.length-1
    - site = @sites[idx]
    - nexxt = @sites[idx += 1]
    .item
      .inner
        = link_to site.domain, manager_site_path(site)
        = raw print_site(site)
        - while ( !nexxt.domain.blank? && !site.domain.blank? ) && nexxt.domain == site.domain
          %br
          = nexxt.domain
          = raw print_site(nexxt)
          - nexxt = @sites[idx+=1]
