
%h1 +newsitem for #{@site.domain}

= form_for @newsitem, :url => create_manager_newsitem_for_site_path(@site.id) do |f|

  -# .field
  -#   %label Photo
  -#   = select :newsitem, :photo_id, @photos

  .field
    %label Report
    = select :newsitem, :report_id, @list_reports

  .field
    %label Gallery
    = select :newsitem, :gallery_id, @list_galleries

  .field
    %label User
    = select :newsitem, :username, @list_users


  = f.submit