
%h1
  Site
  = link_to @site.domain, "http://#{@site.domain}:#{request.port}"
  = link_to '[~]', edit_manager_site_path(@site.id)
  = image_tag "flags/#{@site.lang}.png"
  
%ul.submenu
  %li= link_to 'Features', manager_sites_features_path( @site.id )
  %li= link_to 'Newsitems', manager_sites_newsitems_path(@site.id)
  %li= link_to 'Reports', manager_sites_reports_path(@site.id)
  %li= link_to 'Galleries', manager_sites_galleries_path(@site.id)
  
.c
.features-list
  %h2
    Features (#{@site.features.length})
    = link_to '[+]', manager_new_feature_for_site_path(@site.id)
  .items
    - @features.each do |feature|
      %ul.item
        %li
          = link_to image_edit, manager_site_edit_feature_path(@site.id, feature.id)
          = "Name - #{feature.name}"
          = button_to image_delete, manager_site_feature_path(@site.id, feature.id), :method => :delete, :confirm => 'Are you sure?'
        %li= "Weight - #{feature.weight}"
        %li= feature.created_at

.c
= render 'features/list', :features => @features

.c
.span-12
  %h2
    Newsitems
    = link_to '[+]', manager_sites_add_newsitem_path(@site.id)
  = render 'manager/newsitems/list', :site => @site, :newsitems => @newsitems

.span-12.last
  &nbsp;

.clear