

.clear
#application__footer

  %ul
    %li= link_to t('g.about'), about_path
    %li= link_to t('g.privacy'), privacy_path
    %li= link_to t('g.admin'), admin_path
    %li= link_to t('g.manager'), manager_path

  %ul
    %li ^__^

  %ul.copyright
    %li
      &copy; Copyright 2012 
      = link_to 'CAC', 'http://computationalartscorp.com'



