

.reports
  - @reports.each do |r|
    .item
      %h2= link_to r.name, report_path(r)
      - unless r.photo.blank?
        .image= image_tag r.photo.photo.url(:thumb)
      .subhead= r.subhead

%hr

.galleries
  - @galleries.each do |r|
    .item
      %h2= link_to r.name, gallery_path(r.galleryname)
      .image= link_to image_tag(r.photos[0].photo.url(:thumb)), gallery_path(r.galleryname)