

.feature-galleries
  %h2
    = link_to "#{t('galleries.list')}", galleries_path
    .small
      = link_to "(#{t('g.add')})", new_gallery_path
  .items
    - feature_galleries.each do |gallery|
      .item
        .wrapper
          - unless 0 == gallery.photos.length
            = link_to image_tag( gallery.photos[0].photo.url(:small) ), gallery_path(gallery.galleryname)
          %h3= link_to gallery.name, gallery_path(gallery.galleryname)
        .clear
  .clear
