
- content_for :title do
  = t('galleries.list')

= render 'ads/leaderboard'
  
= render 'galleries/list', :galleries => @galleries
- if @galleries.length == 0
  %h5 No Galleries

%hr
.center= render 'ads/src/leaderboard'

= render 'share_this'