
.gallery-show
  .title
    %h1
      Gallery
      = @gallery.name.titleize

  .items
    - @gallery.photos.fresh.each do |ph|
      = render 'photos/present', :photo => ph, :gallery => @gallery

    .item
      .new-photo= link_to image_tag('icons/64x64/new_photo.png'), new_photo_for_gallery_path(@gallery.id)

  .clear
  = render 'share_this'

  .clear
  &nbsp;
  .center= render 'ads/leaderboard'
  &nbsp;

  .clear
  = render 'disqus'