
.gallery-show
  .title
    %h1
      Gallery
      = @gallery.name.titleize

  .items
    - @gallery.photos.fresh.each_with_index do |photo, idx|
      = render 'photos/present_individual', :photo => photo, :idx => idx

    .item
      .new-photo= link_to image_tag('icons/64x64/new_photo.png'), new_photo_for_gallery_path(@gallery.id)

  .span-24.last= render 'share_this'

  .span-24.last
    .center.wrapper
      = render 'ads/leaderboard_gray-blue-dark'
      .sponsored= t('g.sponsored')

  .span-12
    = render 'disqus'

  .span-12.last
    &nbsp;