
.galleries-show.center

  .title
    %h1= @gallery.name.titleize

  = render 'meta', :item => @gallery

  = render 'galleries/change_style'

  .items
    - @photos.each do |photo|
      .item= image_tag photo.photo.url(:large)

  = render 'ads/leaderboard_wrapped'

  = render 'disqus'
