
-##
-## galleries/show_photo
-##
- idx = params[:photo_idx].to_i

.show-photo
  .title
    %h1
      = @gallery.name
      -# .photos-new= link_to image_tag('icons/32x32/photos_new.png'), new_photo_for_gallery_path(@gallery.id)
    = render 'galleries/change_style', :gallery => @gallery
    .c

  -# = render 'rate_me/vote', :item => @gallery.photos[idx]

  = render 'galleries/prev_next', :idx => idx, :gallery => @gallery

  .a= image_tag( @gallery.photos[idx].photo.url( :large ) )

  .descr= simple_format @gallery.photos[idx].name
  
  .thumbs
    - @gallery.photos.each_with_index do |ph, idx|
      = link_to image_tag(ph.photo.url(:thumb)), gallery_path(@gallery.galleryname, idx)

-# important
.c
