
-##
-## galleries/show_photo
-##
- idx = params[:photo_idx].to_i || 0

.show-photo
  = render 'ads/leaderboard'
  = render 'galleries/title', :gallery => @gallery

  -# = render 'rate_me/vote', :item => @gallery.photos[idx]
  .c
  = render 'galleries/prev_next', :idx => idx, :gallery => @gallery

  .a= image_tag( @gallery.photos[idx].photo.url( :large ), :alt => @gallery.photos[idx].name )

  .c
  .col-1
    .descr= simple_format @gallery.photos[idx].name
    = render 'ads/large_rectangle'

  .col-2
    .thumbs
      - @photos.each_with_index do |ph, idx|
        = link_to image_tag(ph.photo.url(:thumb)), gallery_path(@gallery.galleryname, idx)

-# important
.c
