
- content_for :title do
  = @gallery.name

-##
-## galleries/show_photo
-##
- idx = params[:photo_idx].to_i || 0

.show-photo
  = render 'ads/leaderboard'
  = render 'galleries/title', :gallery => @gallery

  -# = render 'rate_me/vote', :item => @gallery.photos[idx]
  .c
  = render 'galleries/prev_next', :idx => idx, :gallery => @gallery

  .a= image_tag( @photos[idx].photo.url( :large ), :alt => @gallery.photos[idx].name )

  .c
  .col-1
    = render 'share_this'
    
    .descr= simple_format @gallery.photos[idx].name
    = render 'ads/large_rectangle'

    .related-galleries
      %h3= t('galleries.related')
      = "Topic #{@gallery.tag.name}" unless @gallery.tag.blank?      
      - if @related_galleries.blank?
        No related galleries
      - else
        .items
          - @related_galleries.each do |gallery|
            .item
              %h4= link_to gallery.name, gallery_path(gallery.galleryname, 0)
              .meta= pretty_date( gallery.created_at )
              - unless gallery.photos.blank?
                = image_tag( gallery.photos[0].photo.url(:thumb), :alt => gallery.name, :class => :thumb )
      
  .col-2
    .thumbs
      - @photos.each_with_index do |ph, idx|
        = link_to image_tag(ph.photo.url(:thumb)), gallery_path(@gallery.galleryname, idx)

-# important
.c
= render 'share_this'