
.galleries-show.show-long

  = render 'ads/leaderboard'

  .title
    %h1= @gallery.name.titleize
    = render 'galleries/change_style', :gallery => @gallery
    = render 'meta', :item => @gallery
  
  .items.center
    - @photos.each do |photo|
      .item
        = image_tag photo.photo.url(:large), :alt => photo.name
        %br
        = photo.name
        %br
        %br
          
  = render 'ads/leaderboard'
= render 'share_this'