
.extended-forms-content
  = form_tag search_days_path do
    %fieldset
      = text_field_tag 'date', nil, :placeholder => 'YYYY-MM-DD'
      = submit_tag t('form.search'), :class => :search

  = form_tag my_search_reports_path do
    %fieldset
      = text_field_tag 'keyword', nil, :placeholder => t('reports.one')
      = submit_tag t('reports.search'), :class => :search
      = link_to t('reports.do_list'), my_reports_path( :locale => @locale )
      = link_to t('reports.new'), new_report_path

  = form_tag search_galleries_path do
    %fieldset
      = text_field_tag 'q', nil, :placeholder => t('galleries.one')
      = submit_tag t('galleries.search'), :class => :search
      = button_to t('galleries.do_list'), my_galleries_path
      = button_to t('galleries.new'), new_gallery_path

  = form_for @addressbookitem, :url => addressbookitems_path do |f|
    %fieldset
      = f.text_field :name, :placeholder => t('addressbookitems.one')
      = f.submit t('form.search'), :class => :search
      = button_to t('addressbookitems.do_list'), addressbookitems_path
      = button_to t('addressbookitems.new'), new_addressbookitem_path

  = form_for @cities_user, :url => cities_users_path do |f|
    %fieldset
      = f.text_field :name, :placeholder => t('cities_users.one')
      = f.submit t('form.search'), :class => :search
      = button_to t('cities_users.do_list'), cities_users_path
      = button_to t('cities_users.new'), new_cities_user_path
