

.main-header
  .logo= link_to image_tag('logos/organizer.png'), organizer_path
  - if @current_user.blank?
    %h1.hide You are not logged in.
  - else
    %h1.hide= @current_user.email

    - if @current_user.profile_photo
      = link_to image_tag( @current_user.profile_photo.photo.url(:thumb), :class => 'profile-photo', :alt => @current_user.username ), new_photo_path
    - else
      = link_to image_missing, new_photo_path

  .clear
  - if notice
    %p.notice= notice
  - if alert
    %p.alert= alert

  %ul
    %li.stories= link_to 'Stories', reports_path
    %li.photos= link_to 'Galleries', galleries_path
    %li.people= link_to 'People', users_path
    %li.cities= link_to 'Cities', cities_path
    %li.city= link_to 'San Francisco', city_path('San_Francisco')
    %li.new-report= link_to t('reports.new'), new_report_path
    %li.new-photo= link_to image_new_photo, new_photo_path, :class => :new_photo_link
    %li.scratchpad-link= image_scratchpad
    - unless @current_user.blank?
      %li.profile= link_to 'My Resume', user_resume_path(@current_user[:username])
      %li.settings= link_to 'Settings', account_path

  .clear