


.main-header
  .logo= image_tag 'ppf.gif'
  %ul.menu
    %li.people= link_to 'People', users_path
    %li.videos= link_to 'Videos', videos_path
    %li.photos= link_to 'Photos', galleries_path
    %li.stories= link_to 'Stories', reports_path

    %li.new_photo= link_to t('photos.new'), new_photo_path
    %li.new_report= link_to t('reports.new'), new_report_path


