


.main-header
  .logo= image_tag 'ppf.gif'
  %ul
    %li.people= link_to 'People', users_path
    %li.events= link_to 'Events', events_path
    %li.photos= link_to 'Photos', photos_path
    %li.stories= link_to 'Stories', reports_path


