
%ul.menu-secondary
  - Venue.types.each do |type|
    %li= link_to t('cities.'+type), venue_type_in_city_path(city.cityname, type)
  - if city.galleries.length > 0
    %li= link_to t('galleries.list'), galleries_in_city_path(city.cityname)
  - if city.reports.length > 0
    %li= link_to t('reports.list'), reports_in_city_path(city.cityname)
  - proc do # hidden
    - if city.future_events.length > 0
      %li= link_to t('events.list'), events_in_city_path(city.cityname)
  - if city.current_users.length > 0
    %li= link_to t('users.list'), users_in_city_path(city.cityname)
