

#set_locale{ :class => @parsed_locale }
  .en= link_to(image_tag('flags/en.png'), "#{cities_path}?locale=en")
  .pt= link_to(image_tag('flags/pt.png'), "#{cities_path}?locale=pt")
  .ru= link_to(image_tag('flags/ru.png'), "#{cities_path}?locale=ru")
  .clear