
= render 'init_maps'

.feature-cities
  - @feature_cities.each do |city|
    .city
      = link_to image_tag(city.profile_photo.photo.url(:two_hundred)), city
      = link_to city.name, city

.ad-leaderboard
  = render 'ads/leaderboard'

.all-cities
  #cities_index_canvas
  -# %h3 All Cities
  %ul
    - @cities.each do |city|
      %li
        = link_to city.name, city

.feature-reports
  - @feature_reports.each do |report|
    .item
      %h3= link_to report.name, report_path(report)
      - unless report.photo.blank?
        = image_tag report.photo.photo.url(:thumb)
      .subhead= report.subhead


