

- content_for :left do

  .ids{ :cityname => @city.cityname }
  = render 'init_maps'

  #header

    .logo= link_to image_tag('logos/travel.png'), travel_root_path

    %h1.hide= @city.name

    %ul.main-menu
      %li= link_to @city.name, @city
      %li
        = link_to t('list.cities'), cities_path

  %ul.map-menu
    %li= link_to 'Power Map', '#'

  .map
    .inner
      #cities_show_canvas

- content_for :right do

  %ul.right-menu
    %li
      = link_to t('list.reports'), city_reports_path(@city)
    %li
      %a{:href => ""} Galleries
    %li
      %a{:href => ""} Venues
    %li
      %a{:href => ""} Communities
    %li
      %a{:href => ""} Users
    %li
      %a{:href => ""} Events
  
  .main-content
    .inner
      .items
        - puts @city.reports[0].created_at.inspect
        - @city.reports.each do |i|
          .item
            %h3= i.name
            = image_tag 'logo.png'
            %span 
              - begin
                By #{ i.user.username } 
              - rescue
              - unless i.created_at.blank?
                on #{ i.created_at }
            %ul.tags
              %li tag1
              %li tag2
              %li tag3
    

      = link_to 'Load More', '#', :class => :more

  