

- content_for :left_menu do
  -# %ul
    -# %li= link_to 'Calendar', 'javascript: void(0);', :class => :calendar_link
    -# %li= link_to 'Map', 'javascript: void(0);', :class => :map_link
    -# %li= link_to 'Power Map', '#power_map'

- content_for :left do
  .map-container#cities_show_canvas

  -# .calendar-container
  -# .reports-show
  -# .galleries-show
  -# .videos-show

- content_for :right_menu do
  %ul.hide
    %li= link_to 'Stories', 'javascript: void(0);', :class => :reports_link
    %li= link_to 'People', 'javascript: void(0);', :class => :users_link
    %li= link_to 'Galleries', 'javascript: void(0);', :class => :galleries_link

- content_for :right do
  = render 'newsitems/list', :newsitems => @newsitems
  


//        - [].each do |i|
//          .item
//            %h3= link_to i.name, 'javascript:void(0);', :class => "#{i.name_seo} show-report"
//            = image_tag 'logo.png'
//            %span 
//              - begin
//                By #{ i.user.username } 
//              - rescue
//              - unless i.created_at.blank?
//                on #{ i.created_at }
//            %ul.tags
//              %li tag1
//              %li tag2 
//              %li tag3
    