

- content_for :left do

  .ids{ :cityname => @city.cityname }
  = render 'init_maps'

  #header
    .logo= link_to image_tag('logos/travel.png'), travel_root_path
    -# .logo= link_to image_tag(@city.profile_photo.photo.url(:thumb)), @city

    %h1.hide= @city.name

    %ul.main-menu
      %li= link_to @city.name, @city
      %li
        = link_to t('list.cities'), cities_path

  %ul.map-menu
    %li= link_to 'Calendar', 'javascript: void(0);', :class => :calendar_link
    %li= link_to 'Map', 'javascript: void(0);', :class => :map_link
    -# %li= link_to 'Power Map', '#power_map'

  .left-container
    .inner
      .map-container#cities_show_canvas
      .calendar-container
      .reports-show

- content_for :right do

  %ul.right-menu
    %li
      = link_to t('list.reports'), "javascript:void(0);", :class => :reports_link
    %li
      = link_to t('list.galleries'), "javascript:void(0);", :class => :galleries_link
    %li
      = link_to t('list.venues'), "#venues"
    %li
      = link_to t('list.communities'), "#communities"
    %li
      = link_to t('list.users'), "#users"

    -# this is trash
    %li
      = link_to t('list.events'), "#events"
  
  .main-content
    .inner
      .reports.hide
        .items
        = link_to 'Load More', '#', :class => :more
      .galleries-index.hide
        .items
        = link_to 'Load More', '#', :class => :more
      .venues.hide
        .items
        = link_to 'Load More', '#', :class => :more
      .communities.hide
        .items
        = link_to 'Load More', '#', :class => :more
      .users.hide
        .items
        = link_to 'Load More', '#', :class => :more
      
      
  



//        - [].each do |i|
//          .item
//            %h3= link_to i.name, 'javascript:void(0);', :class => "#{i.name_seo} show-report"
//            = image_tag 'logo.png'
//            %span 
//              - begin
//                By #{ i.user.username } 
//              - rescue
//              - unless i.created_at.blank?
//                on #{ i.created_at }
//            %ul.tags
//              %li tag1
//              %li tag2 
//              %li tag3
    