
- url ||= manager_galleries_path

= form_for @gallery, :url => url do |f|

  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :city_id
    = select :gallery, :city_id, @cities

  .field
    = f.label :tag_id
    = select :gallery, :tag_id, @tags_list

  .row
    = f.label :site_id
    = select :gallery, :site_id, @sites_list

  .field
    = f.label :venue_id
    = select :gallery, :venue_id, @venues_list

  .field
    = f.label :is_public
    = f.check_box :is_public

  .field
    = f.label :is_done
    = f.check_box :is_done

  .field
    = f.label :is_feature
    = f.check_box :is_feature

  .row
    = f.label :is_trash
    = f.check_box :is_trash

  .actions
    = f.submit
