
- content_for :title do
  Manager Galleries Index
  
.title
  %h1
    = t('galleries.list')
    = link_to '[+]', new_manager_gallery_path

= form_tag manager_galleries_path, :method => :get, :class => :search do
  .field.search_words
    [x]
    = text_field_tag 'keywords', nil, :placeholder => 'Search Words'
  .actions
    = submit_tag 'Search'
  .c

.c
%ul.menu
  %li= link_to 'Public', :action => :index, :public => '1'
  %li= link_to 'Nonpublic', :action => :index, :public => '0'
  %li= link_to 'Done', :action => :index, :done => '1'
  %li= link_to 'Nondone', :action => :index, :done => '0'
  %li= link_to 'Trash', :action => :index, :is_trash => '1'

%ul.menu
  %li= link_to 'Fullindex', manager_galleries_fullindex_path
  %li= link_to 'Paginated', manager_galleries_path
  %li= link_to 'Short List', :action => :index, :short_list => true
  
.c
- unless params[:fullindex]
  = paginate @galleries, :param_name => :galleries_page
