
%h2 Manager Gallery Show

%ul.menu
  %li= link_to t('list.galleries'), manager_galleries_path

%h3
  = @gallery.name
  = button_to '[x]', manager_gallery_path(@gallery), :method => :delete

.gallery_photos_thumb
  - @gallery.photos.fresh.each do |ph|
    = render 'manager/photos/present', :photo => ph, :image_size => :thumb 
    
.c
.gallery_photos
  - @gallery.photos.fresh.each do |ph|
    = render 'manager/photos/present', :photo => ph, :image_size => :large