
- content_for :title do
  Gallery `#{@gallery.name}`
  
.ids{ :galleryname => @gallery.galleryname }

%h2 Gallery `#{@gallery.name}`

.gallery-photos-thumb.hide
  = form_tag manager_galleries_path, :method => :post do
    - @gallery.photos.fresh.each do |photo|
      .item
        = link_to image_tag(photo.photo.url( :thumb )), photo.photo.url(:large), :rel => 'lightbox[aaa]'
        = check_box_tag photo.id
    .c
    = select_tag 'Action', options_for_select(['delete', 'move-to'])
    = select_tag 'New Gallery', options_for_select(@galleries_list)
    = submit_tag 'Submit'
  .c

.gallery-photos.hide
  - @gallery.photos.fresh.each do |photo|
    .item
      = link_to image_tag(photo.photo.url(:small)), photo.photo.url(:large), :rel => 'lightbox[aaa]'

      = button_to '[x]', manager_photo_path(photo), :method => :delete, :class => :delete  
      = form_tag manager_move_photo_path(photo), :class => :move do
        = select :photo, :gallery_id, @galleries
        = submit_tag 'Move'
      = link_to '[~]', edit_manager_photo_path(photo), :class => :edit
      .c