

#application__footer

  %ul.menu
    %li= link_to 'CAC', 'http://computationalartscorp.com'
    %li= link_to 'Pi', 'http://piousbox.com'
    %li= link_to 'ISh', 'http://infiniteshelter.com'
    %li= link_to 'cities', 'http://travel-guide.mobi'
    %li= link_to 'qxt', organizer_path

  %ul.menu
    %li= link_to '] sedux [', 'http://sedux.net'
    %li= link_to '] webdevzine [', 'http://webdevzine.com'
    %li= link_to '] BSS [', 'http://bodyseeksoul.com'
    %li ] ftim [
      
  %ul.menu
    %li= link_to ') admin (', '/admin'
    %li= link_to ') manager (', '/manager'

  %ul.menu
    %li= link_to 'Galleries', galleries_path
    %li= link_to 'Cities', cities_path