
.mini-footer-2
.mini-footer

  = render 'application/set_city'
  
  = render 'application/search'

  = render 'application/login_register'

  = render 'application/set_locale'

  .copyright
    &copy; CAC 2009-2013

  .shtick
    \~__^

  = render 'application/set_layout'

  .cccp
    &nbsp;

  .cccp
    &nbsp;

  .cccp
    &nbsp;

  = render 'application/privacy_links'

  .cccp
    &nbsp;

  = render 'application/archive_links'

  -# important
  .c