
.mini-footer
  
  .copyright
    &copy; CAC 2009-2013
    %br
    \~__^

  = render 'set_layout'

  = render 'application/login_register'

  = render 'application/search'

  = render 'application/set_city'

  = render 'application/set_locale'

  .c
