
%hr
  
.mini-footer
  .row
    .span4
      = render 'set_locale'
    .span4
      = render 'shtick'      
    .span4
      = render 'login_register'
  .row
    .span4
      &nbsp;
    .span4
      %ul
        %li= link_to t('g.privacy'), privacy_path
        %li= link_to t('g.contact'), contact_path
        %li= link_to t('g.sitemap'), sitemap_path( :format => :xml )
        %li= link_to 'Sitemap#photos', sitemap_photos_path( :format => :xml )