

#application__footer

  %ul
    %li= link_to 'CAC', 'http://computationalartscorp.com'
    %li= link_to 'Pi', 'http://piousbox.com'
    %li= link_to 'ISh', 'http://infiniteshelter.com'
    %li= link_to 'cities', 'http://travel-guide.mobi'
    %li= link_to 'qxt', organizer_path
    %li
      Ramp
      = link_to '[0]', 'http://sedux.net'
      = link_to '[1]', 'http://webdevzine.com'
      = link_to '[2]', 'http://bodyseeksoul.com'
      -# FTIM? ftim is a social game
      
  %ul
    %li= link_to ') admin (', '/admin'
    %li= link_to ') manager (', '/manager'