
.row
  .header-title.span
    %h2= @site.title
    .header-subhead= @site.subhead

  = render 'login_register'

.mini-header
  .mini-header-2
    .logo= link_to image_tag('/assets/logos/20x20/ish.gif'), root_path
    = render 'menu_main'
  
