
.main-header

  .logo= link_to image_tag( 'logos/travel_guide.png' ), root_path

  = render 'application/search'

  = render 'application/set_locale'

  -# .header-ad= render 'ads/leaderboard'

  %h1 Mobi Travel Guide

  %ul.main-menu.sf-menu
    %li.home
      = link_to 'Home', root_path
      %ul
        %li= link_to 'a', '#'
        %li= link_to 'b', '#'
    %li.stories= link_to 'Stories', reports_path
    %li.photos= link_to 'Galleries', galleries_path
    %li.people= link_to 'People', users_path
    %li.cities= link_to 'Cities', cities_path
    %li.city= link_to 'San Francisco', travel_to_path('San_Francisco')

  %ul.secondary-menu
    %li.new-report= link_to t('reports.new'), new_report_path
    %li.new-photo= link_to t('photos.new'), new_photo_path

  

  = render 'application/login_register'

  .clear


