
.main-header

  .logo= link_to image_tag( 'logos/travel_guide.png' ), root_path

  = render 'application/search'
  = render 'application/set_city'
  = render 'application/set_locale'

  %h1= @site.subhead

  = render 'menu_main'

  = render 'users/menu'

  = render 'application/login_register'

  .c
.c
-# = render 'ads/links_horizontal_large'
