
.row
  .span6
    .header-title
      %h2= link_to @site.title, root_path
      .header-subhead= @site.subhead

  .span6
    = render 'search'
    .c
    = render 'login_register'

    
.mini-header
  .mini-header-2
    .logo= link_to image_tag('/assets/logos/20x20/ish.gif'), root_path
    = render 'menu_main'
  
