
.main-header

  .logo= link_to image_tag( 'logos/travel_guide.png' ), root_path

  = render 'application/search'
  = render 'application/set_city'
  = render 'application/set_locale'

  %h1 The Party & Travel Guide. A lot of party, a little bit of travel.

  %ul.main-menu.sf-menu
    %li.home
      = link_to 'Home', root_path
      - proc do # hidden
        %ul
          %li= link_to 'a', '#'
          %li= link_to 'b', '#'
    %li.stories= link_to 'Stories', reports_path
    %li.photos= link_to 'Galleries', galleries_path
    %li.people= link_to 'People', users_path
    %li.tags= link_to t('tags.list'), tags_path
    %li.cities= link_to 'Cities', cities_path
    - can_show = true
    - unless @city.blank?
      - can_show = false
      %li.city= link_to @city.name, city_path(@city.cityname)
    - unless session[:current_city].blank?
      - if @city.blank?
        %li.city= link_to session[:current_city][:name], city_path(session[:current_city][:cityname])
      - elsif @city.cityname == session[:current_city][:cityname]
        -# ; cannot show
      - else
        -# ; can show but without the highlight.
        %li= link_to session[:current_city][:name], city_path(session[:current_city][:cityname])

  %ul.secondary-menu
    %li.new-report= link_to t('reports.new'), new_report_path
    %li.new-photo= link_to t('photos.new'), new_photo_path

  = render 'application/login_register'

  .clear


