
.login-register
  %ul
    - if user_signed_in?
      %li
        = link_to "#{t('users.account')} -] #{@current_user.username} [-", organizer_path, :class => 'account navbar-link'
      %li.sign-out= button_to t('users.sign_out'), destroy_user_session_path, :method => :delete, :class => :sign_out
    - else
      %li= link_to t('users.sign_in'), new_user_session_path, :class => :sign_in
      %li= link_to t('users.sign_up'), new_user_registration_path, :class => :sign_up
      %li= link_to t('users.account'), organizer_path, :class => :account
