

#login_register
  %ul
    %li= link_to t('g.about'), mobi_about_path
    - if user_signed_in?
      %li
        = link_to t('users.account'), user_account_path
        = "(#{@current_user.username}, #{@current_user.email})"
      %li= button_to t('users.sign_out'), destroy_user_session_path, :method => :delete
    - else
      %li= link_to t('users.sign_in'), new_user_session_path