
.login-register
  .mini
    %ul
      - if @current_user
        %li
          = link_to "-] #{@current_user.username} [-", organizer_path, :class => 'account navbar-link'
          = link_to '(0)', '#'
        %li.sign-out= button_to t('users.sign_out'), destroy_user_session_path, :method => :delete, :class => :sign_out
      - else
        %li= link_to t('users.sign_in'), new_user_session_path, :class => :sign_in
