
%ul.main-menu.sf-menu
  %li.home
    = link_to t('g.home'), root_path
    - proc do # hidden
      %ul
        %li= link_to 'a', '#'
        %li= link_to 'b', '#'
  -# %li.features= link_to t('g.features'), features_path
  - unless @parent_tags.blank?
    %li.tags
      = link_to t('tags.list'), tags_path
      %ul
        - @parent_tags.each do |t|
          %li= link_to t['name_'+@locale.to_s], tag_path(t.name_seo)
  %li.people= link_to t('users.list'), users_path
  -# %li.galleries= link_to t('galleries.list'), galleries_path
  -# %li.stories= link_to t('reports.list'), reports_path
  %li.cities
    = link_to t('cities.list'), cities_path
    %ul
      - @feature_cities.each do |city|
        %li= link_to city['name_'+@locale], city_path(city.cityname)

  - if !@city.blank?
    - highlighted_city = true
    %li.city
      = link_to @city.name, city_path(@city.cityname)
      = render 'cities/menu_secondary', :city => @city
      

  - if !session[:current_city].blank? && ( @city.blank? || session[:current_city][:cityname] != @city.cityname )
    - kkk = highlighted_city.blank? ? 'class' : ''
    %li{ :class => kkk }
      = link_to session[:current_city][:name], city_path(session[:current_city][:cityname])
      = render 'cities/menu_secondary', :city => @current_city
