
- report ||= item

.meta
  = t('g.by')
  - unless report.user.blank?
    = link_to report.user.username, user_path(report.user.username)
  - else
    = t('users.anon')
  - if defined?(report.city) && !report.city.blank?
    = t('g.in')
    = link_to report.city.name, city_path(report.city.cityname)
  - elsif defined?(report.cityname) && !report.cityname.blank?
    = t('g.in')
    = link_to report.cityname, city_path(report.cityname)
  = t('g.on')
  = pretty_date report.created_at
  - unless report.tag.blank?
    Tagged
    = link_to report.tag.name, tag_path(report.tag.name_seo)