
#multinational
  %ul{ :class => "#{@locale} language" }
    %li.en
      = link_to 'English', "#{request.protocol}#{request.host_with_port}/en#{request.path[3..request.path.length]}"
    %li.ru
      = link_to 'Russian', "#{request.protocol}#{request.host_with_port}/ru#{request.path[3..request.path.length]}"
    %li.pt
      = link_to 'Portuguese', "#{request.protocol}#{request.host_with_port}/pt#{request.path[3..request.path.length]}"