.set-layout
  %ul
    %li= link_to 'cities', { :layout => :cities } 
    %li= link_to 'app', { :layout => :application }
    %li= link_to 'app_mini', { :layout => :application_mini }
    %li= link_to 'organizer', { :layout => :organizer }
    %li= link_to 'resume', { :layout => :resume }
