
.set-locale{ :class => @locale }
  .en= link_to(image_tag('flags/en.png'), "#{request.url.split('?').first}?locale=en")
  .pt= link_to(image_tag('flags/pt.png'), "#{request.url.split('?').first}?locale=pt")
  .ru= link_to(image_tag('flags/ru.png'), "#{request.url.split('?').first}?locale=ru")
  .clear