
-# = render 'manager/footer'    
%hr

#spec_runner_pqf
#accordion
  
= javascript_include_tag "spec_runner", "application"
= stylesheet_link_tag "spec_runner.css"

= render 'template/all'
= render 'init_maps'

.trashy
  .ids{:cityname => "San_Francisco"}
  .Lcities
  %ul
    %li.galleries-link
  .right-menu
    %ul
      %li
        %a.active 1
  #galleries_show
    blah blah
    
#log_main
  %div


= render 'galleries/change_style', :gallery => Gallery.all.first