.head-1
  = render 'features/list', :features => @features[0, @site.n_features]
  
.col-1
  = render 'ads/banner_blue'
  = render 'newsitems/list', :newsitems => @newsitems

.col-2
  - if @features.length > 4
    .more-features= render 'features/list', :features => @features[@site.n_features, @features.length-@site.n_features]

.col-3
  = render 'tags/list', :tags => @feature_tags
