
= form_for @report, :html => { :multipart => true } do |f|

  - if @report.errors.any?
    #error_explanation
      %h2
        = pluralize(@report.errors.count, "error")
        = t('g.ee')
      %ul
        - @report.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit t('g.create')
  
  = image_tag "flags/#{@locale}.png"

  .row= f.text_field :name, :class => 'name'
  .row= f.text_area :subhead, :class => 'subhead'

  .check
    = f.label :is_done
    = f.check_box :is_done

  .check
    = f.label :is_public
    = f.check_box :is_public

  .row= f.text_area :descr, :class => 'tinymce'
  
  .field
    %label City
    = select :report, :city, @cities

  .field
    = t('g.coords')
    %br
    = f.text_field :x
    = f.text_field :y

  - if @current_user.blank?
    .row
      %p= t('g.captcha_explanation')
      = recaptcha_tags

  .actions
    = f.submit t('g.create')
