
- n_ads ||= 2

.reports-list
  - reports.each_with_index do |report, idx|
    - if idx > 1 && n_ads > 0
      - if 1 == rand(3)
        - n_ads = n_ads - 1
        = render 'ads/large_rectangle_wrapped'

    = render 'reports/item', :report => report, :idx => idx ||= nil

  .clear

  = paginate reports, :param_name => :reports_page

  - if 0 == reports.length
    = t('reports.none')

  - if 0 == reports.length
    = t('reports.no_reports')

.c
