.meta
  - begin
    = "##{idx}"
  - rescue
  by
  - unless report.user.blank?
    = link_to report.user.username, user_path(report.user.username)
  - else
    = t('users.anon')
  - unless report.city.blank?
    in #{link_to report.city.name, city_path(report.city.cityname)}
  on #{pretty_date report.created_at}