
.wrapper
  = render 'ads/leaderboard'

.title
  %h1= t('reports.list')

.span-14
  = render 'list', :reports => @reports


.span-10.last
  .center.wrapper
    = render 'ads/large_rectangle'
    .sponsored= t('g.sponsored')

  &nbsp;
  .center.wrapper
    = render 'ads/large_rectangle'
    .sponsored= t('g.sponsored')
