
%h2= t('reports.new')

= form_for @report, :html => { :multipart => true } do |f|

  - if @report.errors.any?
    #error_explanation
      %h3= t('e.there_are_errors')

      %ul
        - @report.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit t('g.create')

  .field.name= f.text_field :name, :class => 'name', :placeholder => t('reports.title')
  .field.subhead= f.text_area :subhead, :class => 'subhead', :placeholder => t('reports.subtitle')

  .field.descr= f.text_area :descr, :class => 'tinymce'

  .field.check
    = f.label :is_public
    = f.check_box :is_public

  .field
    = f.label :tag_id
    = select :report, :tag, @tags_list

  .field
    = f.label :site_id
    = select :report, :site, @sites_list

  .field
    .captcha
      %p= t('g.captcha_explanation')
      = recaptcha_tags
    .sign-in
      = link_to t('users.sign_in'), sign_in_path
    .clear

  .actions
    = f.submit t('g.create')
