


.sidebar
  - begin
    - if @report.tag.articles.length > 1 ## because the report itself makes at least one

      %h3 More Articles

      %ul.menu
        - @report.tag.articles.each do |r|
          - unless r[:name_seo] == @report[:name_seo]
            %li= link_to r.name, report_path(r)
  - rescue

  = render 'search'
  
  %ul
    %li= link_to '[~]', edit_admin_reportt_path(@report)
  

.main-content
  %h2= @report.name

  .suhbead
    = @report.subhead


  .descr
    = simple_format @report.descr

  .share_this
    = render 'share_this'

  .recommended

  .discussion