
= content_for :left_menu do
  %ul.menu
    %li= link_to 'Discussion', 'javascript:void(0);', :class => :duscussion_link
    %li= link_to 'Recommended', 'javascript:void(0);', :class => :recommended_link
    %li.hide= link_to 'Author', 'javascript:void(0);'

= content_for :right_menu do
  -#

= content_for :right do
  .a
    = render 'reports/recommended', :recommended => @recommended
    
    .span-18= render 'disqus'
    .span-6.last
      &nbsp;

= content_for :left do
  .reports-show
    -# .wrapper
    -#   = render 'ads/leaderboard'

    %h1= @report.name
    = render 'meta', :report => @report

    .span-14
      .suhbead
        = @report.subhead

      .descr= raw @report.descr

      .share_this
        = render 'share_this'
      
      .clear

    .span-10.last
      - unless @report.photo.blank?
        .image
          = image_tag @report.photo.photo.url(:small)

      = render 'ads/large_rectangle_wrapped'

    .clear
