

- content_for :title do
  = @report.name
  
.reports-show
  .center= render 'ads/src/leaderboard'

  %h1= @report.name
  = render 'meta', :report => @report
  = render 'ads/links_horizontal_large'
    
  .subhead= @report.subhead

  - unless @report.photo.blank? 
    .float-right= image_tag @report.photo.photo.url(:small)

  .descr
    -# = render 'ads/large_rectangle'
    = raw @report.descr
  
  .center= render 'ads/src/leaderboard'    
  = render 'application/share_this'
  = render 'application/disqus'

-# = render 'share_this'