!!!
%html
  %head
    %title
      = @site.title
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "/assets/favicon.gif", :rel => "shortcut icon"}
  %body{ :id => @action_name, :class => @action_classes }
    .pfft
      .Lapplication.container
        .content
          = render 'application/header'

          - if flash[:notice]
            .notice= flash[:notice]
          - if flash[:error]
            .error= flash[:error]
          .c
          
          = yield :content
          - if @application_cities.blank?
            = yield :left
            = yield :right
          = yield

          .c
          .footer-padding
          = render 'application/footer'

    - if Rails.env.production?
      = render "analytics/#{@domain}"

    = render 'init_maps'
