!!!
%html
  %head
    %title
      = yield :title
    -# = stylesheet_link_tag "reset-min", "bootstrap", "lightbox", "application", :media => "all"
    = csrf_meta_tags
    %meta{ :content => "width=device-width, initial-scale=1.0", :name => "viewport" }
    %meta{ :charset => 'utf-8' }
    %link{ :href => "/assets/favicon.gif", :rel => "shortcut icon" }
    = render "analytics/default"
    -# %link{ :href => 'http://fonts.googleapis.com/css?family=Kite+One|Oxygen', :rel => 'stylesheet', :type => 'text/css' }
    = render "header_js"
    = render 'minimal_style'

  %body{ :id => @action_name, :class => @action_classes }

    .Lapplication-mini.container.content
      = render 'application/header'

      - if flash[:notice]
        .notice= flash[:notice]
      - if flash[:error]
        .error= flash[:error]
      .c

      = yield
      .c
      = render 'application/footer'
      = javascript_include_tag "application", 'bootstrap'
      = render 'delayed_css_loader_2'
      = render 'share_this_header' # js for share_this, actually not a header
