!!!
%html
  %head
    %title
      = yield :title
      \|
      = @site.subhead
    = stylesheet_link_tag "bootstrap", "bootstrap-responsive", "lightbox", "application", :media => "all"
    = javascript_include_tag "application"
    %meta{ :charset => 'utf-8' }
    = csrf_meta_tags
    %meta{ :content => "width=device-width, initial-scale=1.0", :name => "viewport" }
    %link{ :href => "/assets/favicon.gif", :rel => "shortcut icon" }
    = render "analytics/default"
    -# %link{ :href => 'http://fonts.googleapis.com/css?family=Kite+One|Oxygen', :rel => 'stylesheet', :type => 'text/css' }

  %body{ :id => @action_name, :class => @action_classes }
    - unless @city.blank?
      .ids{ :cityname => @city.cityname }
      .ns{ :n_reports => @n_reports, :n_galleries => @n_galleries, :n_venues => @n_venues, :n_users => @n_users, :n_videos => @n_videos }
    .Lapplication-mini.container.content
      = render 'application/header_mini'

      - if flash[:notice]
        .notice= flash[:notice]
      - if flash[:error]
        .error= flash[:error]
      .c

      - if content_for?(:content)
        = yield :content
      - else
        = yield :left
        = yield :right
        = yield
      .c
      -# = render 'application/footer_mini'

    = render 'init_maps'
