!!!
%html
  %head
    %title= @main_tag.name 
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag :defaults, "application", "http://w.sharethis.com/button/buttons.js"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body{ :id => @action_name, :class => "#{@tag_class} #{@action_classes}" }

    .Lapplication

      = render 'application/header'
      .container

        - if flash[:notice]
          .notice= flash[:notice]
        - if flash[:error]
          .error= flash[:error]

        = yield

      .clear
      = render 'application/footer'

    // below, no appearance
    - unless @site.domain.blank?
      = render "analytics/#{@site.domain}"
    = render 'init_maps'