
- content_for :content do
  .head-1
    .logo= image_tag(@city.profile_photo.photo.url(:thumb))
    %h1= @city.name
    
    = render 'cities/menu_secondary', :city => @city
    
  .col-0
    = render 'ads/src/skyscraper'
    .c

  .col-1
    = yield :right
    = yield
    .c

  .col-2
    -# render map?
    = yield :left
    -# = render 'cities/calendar', :city => @city
    -# = render 'events/today'
    - unless @greeter.blank?
      .greeter
        .wrapper
          %h3= t('cities.greeter')
          %h2= @greeter.name
          - unless @greeter.profile_photo.blank?
            = image_tag @greeter.profile_photo.photo.url(:thumb)
          .subhead= link_to t('users.greet_me'), message_to_path(@greeter.username)

    = render 'features/list', :features => @features
    = render 'venues/features', :venues => @feature_venues unless @feature_venues.blank?
    .c

= render :file => 'layouts/application_mini'
