
- content_for :content do
  .head-1
    .logo
      - if !@city.profile_photo.blank?
        = link_to image_tag(@city.profile_photo.photo.url(:thumb)), city_path(@city.cityname)
      - else
        = link_to image_missing, city_path(@city.cityname)
    %h1= link_to @city.name, city_path(@city.cityname)
    
    = render 'cities/menu_secondary', :city => @city

    = render 'features/list', :features => @features
    
  .col-0
    = render 'ads/src/skyscraper'
    .c

  .col-1
    = yield :right
    = yield
    .c

  .col-2
    -# render map?
    = yield :left
    .events-today
      .inner
        Today
    -# = render 'cities/calendar', :city => @city
    -# = render 'events/today'
    - unless @greeter.blank?
      .greeter
        .wrapper
          %h3= t('cities.greeter')
          %h2= @greeter.name
          - unless @greeter.profile_photo.blank?
            = image_tag @greeter.profile_photo.photo.url(:thumb)
          .subhead= link_to t('users.greet_me'), message_to_path(@greeter.username)

    = render 'features/list', :features => @features
    = render 'venues/features', :venues => @feature_venues unless @feature_venues.blank?
    .c

= render :file => 'layouts/application_mini'
