
!!!
%html
  %head
    %title= @main_tag.name 
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag :defaults, "application", "http://w.sharethis.com/button/buttons.js"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "/assets/favicon.gif", :rel => "shortcut icon"}
  %body{ :id => @action_name, :class => @action_classes }
    .Lapplication.container
      .content
        = render 'application/header'

        .center= render 'ads/links_horizontal_large'

        - if flash[:notice]
          .notice= flash[:notice]
        - if flash[:error]
          .error= flash[:error]
        .clear

        .top-ad
          .wrapper
            = render 'ads/leaderboard'

        .span-24.masthead
          .inner
            %h1= @city.name

            %ul.watch
              %li= link_to 'Events', 'javascript:void(0);'
              %li= link_to 'Venues', venues_in_path(@city.cityname)
              %li= link_to 'Photos', 'javascript:void(0);'
              %li= link_to 'Stories', 'javascript:void(0);'
              %li= link_to 'People', 'javascript:void(0);'

            %ul.contribute
              %li= link_to 'Add a Photo', 'javascript:void(0);'
              %li= link_to 'Share a Story', 'javascript:void(0);'

            .clear

        .span-24
          = render 'application/features', :features => @features

        .span-5
          .wrapper
            = render 'ads/skyscraper'
            .sponsored= t('g.sponsored')

        .span-13.center-column
          .inner
            = yield :left
            = yield :right
            = yield

        .span-6.last.right-column
          .wrapper
            #cities_show_canvas
              Map

          .wrapper
            %h3 Calendar
            #calendar_canvas

          .events-today
            .wrapper
              %h3 Events Today

              %h2
                = link_to 'Ritual Dubstep', 'javascript:void(0);'
                -# at #{link_to 'Temple Nightclub', '#'}.
              Are you going?
              = link_to 'Yes', '#'
              = "/"
              = link_to 'No', '#'
              (130)

          .greeter
            .wrapper
              %h3 Greeter
              %h2 Eva Kogan
              = image_tag 'missing.png'
              .subhead= link_to 'Drop me a line!', 'javascript:void(0);'

        .sponsored

        .clear
        .footer-padding
        = render 'application/footer'

    = render "analytics/#{@domain}"
    = render 'init_maps'
