!!!
%html
  %head
    %title
      = yield :title
      \|
      = @site.title
    = stylesheet_link_tag "application", :media => "all"
    :javascript
      var switchTo5x=false;    
    = javascript_include_tag "application", "http://w.sharethis.com/button/buttons.js"
    :javascript
      stLight.options({publisher: "7edc8908-ca4a-41e7-a8ca-0994479dfb2e", doNotHash: false, doNotCopy: false, hashAddressBar: false});
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "/assets/favicon.gif", :rel => "shortcut icon"}
    = render "analytics/default"
  %body{ :id => @action_name, :class => @action_classes }
    - unless @city.blank?
      .ids{ :cityname => @city.cityname }
      .ns{ :n_reports => @n_reports, :n_galleries => @n_galleries, :n_venues => @n_venues, :n_users => @n_users, :n_videos => @n_videos }
    .pfft
      .Lapplication.container
        .content
          = render 'application/header'

          - if flash[:notice]
            .notice= flash[:notice]
          - if flash[:error]
            .error= flash[:error]
          .c
          
          = yield :content
          - if @application_cities.blank?
            = yield :left
            = yield :right
          = yield

          .c
          -# .footer-padding
          = render 'application/footer_mini'

    = render 'init_maps'
