
- content_for :content do

  .head-1
    %h1= @city.name
    = render 'cities/menu_secondary', :city => @city
    
  .col-0
    = render 'features/list', :features => @features

    = render 'ads/skyscraper'

    &nbsp;

  .col-1
    = yield :right

    = yield

    &nbsp;

  .col-2
    -# map
    = yield :left

    -# = render 'cities/calendar', :city => @city

    -# = render 'events/today'

    - unless @greeter.blank?
      .greeter
        .wrapper
          %h3= t('cities.greeter')
          %h2= @greeter.name
          - unless @greeter.profile_photo.blank?
            = image_tag @greeter.profile_photo.photo.url(:thumb)
          .subhead= link_to 'Drop me a line!', message_to_path(@greeter.username)

    = render 'venues/features', :venues => @feature_venues unless @feature_venues.blank?

    &nbsp;

  .foot-1
    &nbsp;

= render :file => 'layouts/application'
