!!!
%html
  %head
    %title= @main_tag.name 
    = stylesheet_link_tag "blog", :media => "all"
    = javascript_include_tag "application", "http://w.sharethis.com/button/buttons.js"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body{ :id => @action_name, :class => @tag_class }    
    .container
      = render 'blog/header'

      #content
        
        .sidebar
          = render 'blog/search'
          %ul.menu
            - @tags.each do |tag|
              %li= tag.name

          = render 'ads/skyscraper'

        .main-content
          - if flash[:notice]
            .notice= flash[:notice]
          - if flash[:error]
            .error= flash[:error]

          = yield

      = render 'blog/footer'

    = render 'analytics'