!!!
%html
  %head
    %title= @main_tag.name 
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag :defaults, "application", "http://w.sharethis.com/button/buttons.js"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body{ :id => @action_name, :class => @action_classes }
    .container.Lblog
      = render 'blog/header'

      #content
        
        .sidebar
          = render 'blog/search'
          %ul.menu
            - unless @tags.blank?
              - @tags.each do |tag|
                %li= tag.name

          = render 'ads/skyscraper'
          .clear

        .main-content
          - if flash[:notice]
            .notice= flash[:notice]
          - if flash[:error]
            .error= flash[:error]

          = yield( :left )
          = yield( :right )
          = yield

          = render 'ads/leaderboard'

      = render 'blog/footer'

    // below, no appearance
    - if Rails.env.test?
    - elsif Rails.env.development?
    - elsif !@site.domain.blank?
      = render "analytics/#{@site.domain}"
    - else
      = render 'analytics/piousbox.com'