
!!!
%html
  %head
    %title Computational Arts Corp.
    = stylesheet_link_tag 'cac'
    = javascript_include_tag :defaults, "application", 'http://w.sharethis.com/button/buttons.js'
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}

  %body{ :id => @action_name }
    
    = render 'cac/header'

    - if @show_top_ad
      .clear
      .height-10
      .center
        = render 'ads/leaderboard'
      .height-20


    .content
      = yield

    .clear
      .height-50
      .center
        = render 'ads/leaderboard'

    = render 'cac/footer'
    = render 'analytics/computationalartscorp.com'