!!!
%html
  %head
    %title
      = yield(:title)
      = t('g.ish')
    = stylesheet_link_tag "cities"
    %link{:href => "http://fonts.googleapis.com/css?family=Asul", :rel => "stylesheet", :type => "text/css"}
    = javascript_include_tag "application"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "/assets/favicon.gif", :rel => "shortcut icon"}
  %body{ :id => @action_name, :class => @action_classes }
    - unless @city.blank?
      .ids{ :cityname => @city.cityname }
    - if @report_name_seo
      .report-name-seo{ :report_name_seo => @report_name_seo }
    - if @galleryname
      .galleryname{ :galleryname => @galleryname }
    .Lcities
      #header
        .logo= link_to image_tag('logos/45x45/ish.png'), cities_path
        - if @city.blank?
        - else
          %h1.hide= @city.name
          %ul.main-menu
            %li= link_to @city['name_'+@locale.to_s], @city
            %li= link_to t('list.cities'), cities_path
      #left
        .left-menu
          = yield( :left_menu )
        .left-container
          - if notice
            %p.notice= notice
          - if alert
            %p.alert= alert
          .inner
            = yield( :left )
      #right
        .right-menu
          = yield( :right_menu )
        .right-container
          .inner
            = yield( :right )
            = yield
      .main-footer
        = render 'login_register'
        = render 'set_locale'
        = render 'set_layout'
        .clear
    = render 'template/cities'
    = render 'template/galleries'
    = render 'template/reports'
    = render 'template/venues'
    = render 'template/videos'
    = render 'template/users'
    .hide
      = render 'ads/large_rectangle'
    = render 'analytics/travel-guide.mobi'
    = render 'init_maps'


