!!!
%html
  %head
    %title
      = yield(:title)
      Travel Guide Mobi (Cities)

    = stylesheet_link_tag "cities"

    %link{:href => "http://fonts.googleapis.com/css?family=Asul", :rel => "stylesheet", :type => "text/css"}

    = javascript_include_tag "application"

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    
  %body{ :id => @action_name }
    
    #left
      = yield( :left )

    #right
      = yield( :right )

    #footer
      = render 'login_register'
      = render 'set_locale'
      .clear

    // templates
    = yield

    = render 'analytics'