
!!!
%html
  %head
    %title
      = yield(:title)
      ISh Manager
    = stylesheet_link_tag "manager"
    = javascript_include_tag "application"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}

  %body{ :id => @action_name }
    .ids
    .L.manager
      #header
        %h1= link_to image_tag('ppf.gif'), manager_root_path


      #content
        - if notice
          %p.notice= notice
        - if alert
          %p.alert= alert

        = yield

      = render 'manager/footer'
      .clear

      = render 'analytics'