!!!
%html
  %head
    %title
      = yield(:title)
      = t('users.manager')
    = stylesheet_link_tag "manager"
    = javascript_include_tag "application"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "/assets/favicon.gif", :rel => "shortcut icon"}
    = render "analytics/default"
  %body{ :id => @action_name, :class => @action_classes }
    .ids
    .Lmanager.container
      = render 'manager/footer'

      .content
        - if notice
          %p.notice= notice
        - if alert
          %p.alert= alert
        - if flash[:error]
          %p.alert= flash[:error]

        .manager-menu
        .manager-region

        = yield :left
        = yield :right
        = yield

        .c

      = render 'manager/footer'

    -# = render 'analytics/piousbox.com'

