
!!!
%html
  %head
    %title
      = yield(:title)
      ISh Manager
    = stylesheet_link_tag "manager"
    = javascript_include_tag "application"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}

  %body{ :id => @action_name }
    .ids
    .L.manager
      #header
        %h1= link_to t('manager.home'), manager_root_path


      #content
        = flash[:notice]
        = flash[:error]
        = yield


      = render 'footer'

      = render 'analytics'