!!!
%html
  %head
    %title
      = yield(:title)
    = stylesheet_link_tag "manager"
    = javascript_include_tag "manager", 'rails'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "/assets/favicon.gif", :rel => "shortcut icon"}
    = render "analytics/default"
    = csrf_meta_tag
  %body{ :id => @action_name, :class => @action_classes }
    .Lmanager.container
      -# = render 'manager/footer'

      .content
        - if notice
          %p.notice= notice
        - if alert
          %p.alert= alert
        - if flash[:error]
          %p.alert= flash[:error]

        .manager-menu

        = yield :left
        = yield :right
        = yield

        .manager-region

        .c
      = render 'manager/footer'
      = render 'template/all'
