!!!
%html{ :lang => @locale }
  %head
    %title
      = yield(:title)
      = t('users.organizer')    
    = stylesheet_link_tag "m"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "/assets/favicon.gif", :rel => "shortcut icon"}
    = render "analytics/default"
  %body{ :id => @action_name, :class => @action_classes }
    .Lorganizer.Lorganizer_mini
      = yield