!!!
%html{ :lang => @locale }
  %head
    %title
      = yield(:title)
      = t('users.organizer')    
    = stylesheet_link_tag "m"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "/assets/favicon.gif", :rel => "shortcut icon"}
    = render "analytics/default"
  %body{ :id => @action_name, :class => @action_classes }
    .Lorganizer
      = render 'application/header_mini'
      
      -# = render 'organizer/header'
      -# - unless @current_user.blank?
      -#   = render 'organizer/scratchpad'
      -#   = render 'organizer/extended_forms'
      .c
        
      = yield :left
      = yield :right
      = yield

      = render 'footer_mini'

    = render 'init_maps'
