!!!
%html
  %head
    %title Piousbox
    = stylesheet_link_tag "resume"
  %body{ :id => @action_name }
    #header
      = image_tag 'logos/45x45/ish.png'

      %h2= @user.username.capitalize

      %ul#main_nav
        %li
          = link_to 'Resume', user_resume_path(@user), :class => :resume_link
        %li
          = link_to 'Github', user_github_path(@user), :class => :github_link
        %li
          = link_to 'Articles', user_reports_path(@user), :class => :reports_link
        %li
          = link_to 'Galleries', user_galleries_path(@user), :class => :galleries_link
      %ul#user-menu
        %li
          %a{:href => '#'} Dashboard
        %li.last
          %a{:href => '#'} Login
    #content
      .holder
        = yield
    #footer
      %ul#footer-nav
        %li
          %a{:href => '#'} About
        %li.last
          %a{:href => '#'} Logout
