!!!
%html
  %head
    %title= @title
    = stylesheet_link_tag "resume"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => "/assets/favicon.gif", :rel => "shortcut icon"}
  %body{ :id => @action_name, :class => "#{@action_classes} #{@locale}" }
    .body-inner.Lresume
      .height-20
      .center= render 'ads/leaderboard_gray'

      #header
        = link_to image_tag('logos/45x45/ish.png'), users_path

        %h2
          - if @user.blank?
            = @title
          - else
            = link_to @user.name, user_path(@user.username)

        %ul#main_nav
          - if @user.blank?
            &nbsp;
          - else
            %li= link_to t('users.resume'), user_path(@user.username), :class => :resume_link
            - unless @user.github_path.blank?
              %li= link_to 'Github', user_github_path(@user.username), :class => :github_link
            - if @user.reports.length > 0
              %li= link_to t('reports.list'), user_reports_path(@user.username), :class => :reports_link
            - if @user.galleries.length > 0
              %li= link_to t('galleries.list'), user_galleries_path(@user.username), :class => :galleries_link

        %ul#user-menu
          - if user_signed_in?
            %li
              = link_to t('users.organizer'), organizer_path
            %li.last
              = link_to t('users.logout'), :destroy_user_session, :method => :delete
          - else
            %li
              = link_to t('users.create_profile'), new_user_registration_path
            %li.last
              = link_to t('users.login'), new_user_session_path
      #content
        - content_for :default_content_for_holder do
          .holder
            .inner
              - if flash[:notice]
                .notice= flash[:notice]
              - if flash[:error]
                .error= flash[:error]
              = yield
            = render 'multinational'
          .c

        - if content_for?(:content_for_holder)
          = yield(:content_for_holder)
        - else
          = yield(:default_content_for_holder)

      %ul#footer-nav
        %li
          = link_to t('g.about'), resumes_about_path
        - if user_signed_in?
          %li
            = link_to @user.username.capitalize, organizer_path
          %li.last
            = link_to t('users.logout'), destroy_user_session_path
        - else
          %li.last
            = link_to t('users.login'), new_user_session_path



      .center.clear
        .height-20
        = render 'ads/leaderboard_gray'
        .height-20

      = render 'analytics/piousbox.com'

