!!!
%html
  %head
    %title Piousbox
    = stylesheet_link_tag "resume"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body{ :id => @action_name }
    #header
      = link_to image_tag('logos/45x45/ish.png'), 'http://computationalartscorp.com'

      - begin
        %h2
          = link_to @user.username.capitalize, user_resume_path(@user)
      - rescue
        %h2= @title

      - begin
        %ul#main_nav
          %li
            = link_to 'Resume', user_resume_path(@user), :class => :resume_link
          %li
            = link_to 'Github', user_github_path(@user), :class => :github_link
          %li
            = link_to 'Articles', user_reports_path(@user), :class => :reports_link
          %li
            = link_to 'Galleries', user_galleries_path(@user), :class => :galleries_link
      - rescue

      %ul#user-menu
        - if user_signed_in?
          %li
            = link_to 'Organizer', organizer_path
          %li.last
            = link_to t('users.logout'), :destroy_user_session, :method => :delete
        - else
          %li.last
            = link_to 'Login', new_user_session_path
    #content
      .holder
        = yield
    #footer
      %ul#footer-nav
        %li
          = link_to 'About', 'http://computationalartscorp.com'
        %li.last
          = link_to "Sign out", destroy_user_session_path



