!!!
%html
  %head
    %title
      = yield(:title)
      Travel Guide Mobi
    = stylesheet_link_tag "travel"
    = javascript_include_tag "application"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}

  %body
    = render 'travel/header'

    #content
      = yield

    = render 'travel/footer'

    = render 'analytics'