
!!!

%html

  %head

    %title
      Travel Guide Mobi

    = stylesheet_link_tag    "travel", :media => "all"

    = javascript_include_tag "application", "http://w.sharethis.com/button/buttons.js"

    = csrf_meta_tags

  %body{ :id => @action_name, :class => @tag_class }
    

    .container

      = render 'travel/header'

      = flash[:notice]
      = flash[:error]
      = yield

      = render 'travel/footer'

    = render 'analytics'